@import 'variables';

html {
    min-width: 1600px;
    overflow-x: auto
}

body .vdatetime-year-picker__item--selected,
body .vdatetime-time-picker__item--selected,
body .vdatetime-popup__actions__button {
    color: $light-primary !important;
}
body .vdatetime-popup__header,
body .vdatetime-calendar__month__day--selected > span > span,
body .vdatetime-calendar__month__day--selected:hover > span > span {
    background: $light-primary !important;
}
body .dark .vdatetime-year-picker__item--selected,
body .dark .vdatetime-time-picker__item--selected,
body .dark .vdatetime-popup__actions__button {
    color: $dark-primary !important;
}
body .dark .vdatetime-popup__header,
body .dark .vdatetime-calendar__month__day--selected > span > span,
body .dark .vdatetime-calendar__month__day--selected:hover > span > span {
    background: $dark-primary !important;
}

body .list {
    background-color: $light-background !important;
}
.list li {
    color: $dark-text-color !important;
}
body .list__tile--active {
    color: $light-primary !important;
}
body .list__tile:hover {
    background-color: $light-tertiary !important;
}
.list__tile--active .list__tile__action:first-of-type .icon {
    color: $light-primary !important;
}

body .dark .list {
    background-color: $dark-background !important;
}
.dark .list li {
    color: $light-text-color !important;
}
body .dark .list__tile--active {
    color: $dark-primary !important;
}
body .dark .list__tile:hover {
    background-color: $dark-tertiary !important;
}
.dark .list__tile--active .list__tile__action:first-of-type .icon {
    color: $dark-primary !important;
}

body {
    #appCover {
        .v-dialog__content {
            .v-dialog {
                border-radius: 0px !important;
                .v-card {
                    max-height: 845px;
                    .v-divider {
                        background-color: $light-border;
                    }
                    .dialog-title {
                        background-color: $light-primary !important;
                        color: $light-text-color !important;
                        button {
                            background-color: $light-secondary !important;
                            color: $dark-text-color !important;
                        }
                    }
                }
                .v-card__text  {
                    padding: 0px;
                    width: 100%;
                    color: $dark-text-color;
                    .workflow-details {
                        background-color: $light-tertiary;
                        color: $dark-text-color;
                    }
                    .source-code-card-text {
                        padding: 15px;
                        background-color: $light-tertiary;
                        color: $dark-text-color;
                    }
                }
                .influx-card {
                    min-width: 950px;
                    background-color: $light-sidebar;
                    .influx-card-text {
                        min-width: 1126px;
                        padding-top: 15px;
                        overflow: hidden;
                        .influx-container {
                            padding-bottom: 35px;
                            position: relative;
                            .transition-container {
                                overflow: hidden;
                            }
                            .description {
                                p {
                                    font-size: 1.1em;
                                    padding-left: 50px;
                                    padding-right: 70px;
                                    padding-bottom: 0px;
                                    padding-top: 5px;
                                }
                            }
                            .influx-enable {
                                max-height: 40px;
                                align-items: center;
                                h2 {
                                    // font-size: 2em;
                                    padding-left: 50px;
                                    margin-right: 20px;
                                }
                                h3 {
                                    margin-bottom: 2px;
                                    color: #9b9b9b;
                                }
                                .switch {
                                    flex-grow: 0;
                                    margin-right: 25px;
                                    margin-top: 27px;
                                }
                            }
                            .section-header {
                                align-items: center;
                                padding-left: 35px;
                                .control-icon {
                                    color: $light-sidebar-icon !important;
                                }
                                .connection-icon-container {
                                    margin-left: 18px;
                                    margin-right: 8px;
                                    margin-top: 5px;
                                    margin-bottom: 10px;
                                    .not-connected-icon{
                                        color: #c53332;
                                    }
                                    .connected-icon{
                                        color: #69c57e;
                                    }
                                    .not-used-icon{
                                        color: #9b9b9b !important;
                                    }
                                }
                                .clickable-label:hover {
                                    cursor: pointer;
                                    color: #9b9b9b !important;
                                }
                            }
                            .conflict-warning {
                                padding-left: 50px;
                                padding-top: 5px;
                                h1 {
                                    color: $dark-error;
                                }
                                .icon {
                                    color: $dark-error;
                                    padding-bottom: 10px;
                                    padding-left: 5px;
                                }
                            }
                            .info-section {
                                position: relative;
                                .option-btn-container {
                                    position: absolute;
                                    right: 60px;
                                    top: 10px;
                                    opacity: 0;
                                    z-index: 2;
                                    button {
                                        border: 1px solid;
                                        border-color: $light-border;
                                        background-color: $light-secondary;
                                    }
                                }
                                .submit-btn-container {
                                    position: absolute;
                                    right: 60px;
                                    top: 195px;
                                    z-index: 2;
                                    button {
                                        border: 1px solid;
                                        border-color: $light-border;
                                        background-color: $light-secondary;
                                    }
                                }
                                .telegraf-scroll-area {
                                    margin-top: 0px;
                                    margin-left: 50px;
                                    margin-right: 50px;
                                    margin-bottom: 20px;
                                    max-height: 275px;
                                    border: 1px solid;
                                    border-color: $light-border;
                                    background-color: $light-background;
                                    color: $dark-text-color;
                                    p {
                                        padding: 20px;
                                    }
                                    .input-container {
                                        padding-top: 0px;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        padding-bottom: 45px;
                                        background-color: $light-background;
                                        color: $dark-text-color;
                                        position: relative;
                                        .input-group {
                                            width: 75%;
                                        }
                                    }
                                }
                                .scroll-area {
                                    position: relative;
                                    margin: auto;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .info-section:hover {
                                .option-btn-container {
                                    opacity: 1 !important;
                                    animation: reveal 0.7s;
                                }
                                @keyframes reveal {
                                    0% {opacity: 0;}
                                    100% {opacity: 1;}
                                  }
                            }
                            .bean-warning {
                                background-color: $dark-error;
                                color: white;
                                .config {
                                    background-color: $dark-error;
                                    color: white;
                                }
                            }
                            h1 {
                                font-size: 1.2em;
                                padding-bottom: 4px;
                            }
                        }
                    }
                }
                .delete-dialog-text {
                    background-color: $light-background;
                    padding: 16px;
                    h2 {
                        color: $dark-text-color;
                        font-size: 1.2em;
                        font-weight: 400;
                    }
                }
                .v-card__actions {
                    background-color: $light-tertiary;
                    button {
                        background-color: $light-background;
                        color: $dark-text-color;
                    }
                }
                code:after, kbd:after, code:before, kbd:before {
                    content: "";
                    letter-spacing: 0px;
                }
            }
        }
    }
}
body {
    #appCover {
        .dark {
            .v-dialog__content {
                .v-dialog {
                    .v-card {
                        .v-divider {
                            background-color: $dark-border;
                        }
                        .dialog-title {
                            background-color: $dark-primary !important;
                            color: $light-text-color !important;
                            button {
                                background-color: $dark-wf !important;
                                color: $light-text-color !important;
                            }
                        }
                    }
                    .v-card__text  {
                        color: $light-text-color;
                        .workflow-details {
                            background-color: $dark-tertiary;
                            color: $light-text-color;
                        }
                        .source-code-card-text {
                            padding: 15px;
                            background-color: $dark-tertiary;
                            color: $light-text-color;
                        }
                    }
                    .influx-card {
                        background-color: $dark-sidebar;
                        .influx-card-text {
                            color: $light-text-color;
                            .influx-container {
                                .section-header {
                                    .control-icon {
                                        color: $light-sidebar-icon !important;
                                    }
                                }
                                .conflict-warning {
                                    h1 {
                                        color: $dark-error;
                                    }
                                    .icon {
                                        color: $dark-error;
                                    }
                                }
                                .info-section {
                                    .option-btn-container {
                                        button {
                                            border-color: $dark-border;
                                            background-color: $dark-tertiary;
                                            color: $light-text-color;
                                        }
                                    }
                                    .submit-btn-container {
                                        button {
                                            border-color: $dark-border;
                                            background-color: $dark-tertiary;
                                            color: $light-text-color;
                                        }
                                        .btn--disabled {
                                            color: $dark-border !important;
                                        }
                                    }
                                    .telegraf-scroll-area {
                                        border-color: $dark-border;
                                        background-color: $dark-background;
                                        color: $light-text-color;
                                        .input-container {
                                            background-color: $dark-background;
                                            color: $light-text-color;
                                        }
                                    }
                                }
                                .bean-warning {
                                    background-color: $dark-error;
                                    color: white;
                                    .config {
                                        background-color: $dark-error;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                    .delete-dialog-text {
                        background-color: $dark-tertiary;
                        h2 {
                            color: $light-text-color;
                        }
                    }
                    .v-card__actions {
                        background-color: $dark-background;
                        button {
                            background-color: $dark-tertiary;
                            color: $light-text-color;
                        }
                    }
                }
            }
        }
    }
}

body .notifications {
    .success {
        background-color: #5bc456 !important;
    }
}
body .notifications {
    .warning {
        background-color: #b71c1c !important;
    }
}

body {
    #appCover {
        .v-menu__content {
            background-color: $light-tertiary;
            .v-menu-header {
                padding: 15px;
                background-color: $light-tertiary;
                color: $dark-error;
                font-size: 0.8em;
            }
            .v-menu-info {
                padding-left: 15px;
                padding-top: 15px;
                padding-right: 15px;
                background-color: $light-background;
                color: $dark-text-color;
                font-size: 0.6em;
            }
            .v-menu-details {
                padding-left: 15px;
                padding-top: 10px;
                padding-bottom: 15px;
                background-color: $light-background;
                color: $dark-text-color;
                font-size: 1.1em;
                p {
                    margin: 0px;
                }
                .label {
                    flex-grow: 0;
                    padding-right: 15px;
                }
                .value {
                    font-weight: 700;
                }
            }
            .v-list {
                color: $dark-text-color;
                background-color: $light-background;
                .v-icon {
                    color: $light-primary !important;
                    padding-right: 10px;
                }
                .v-list__tile__title {
                    .v-list__tile__title {
                        color: $dark-text-color;
                    }
                }
            }
            .state-filter {
                width: 150px;
                padding: 10px;
                padding-top: 15px;
                background-color: $light-background;
            }
        }
    }
}

body {
    #appCover {
        .dark {
            .v-menu__content {
                background-color: $dark-tertiary;
                .v-menu-header {
                    background-color: $dark-tertiary;
                    color: $dark-error;
                }
                .v-menu-info {
                    background-color: $dark-background;
                    color: $light-text-color;
                }
                .v-menu-details {
                    background-color: $dark-background;
                    color: $light-text-color;
                }
                .v-list {
                    color: $light-text-color;
                    background-color: $dark-tertiary;
                    .v-icon {
                        color: $dark-primary !important;
                    }
                    .v-list__tile__title {
                        .v-list__tile__title {
                            color: $light-text-color;
                        }
                    }
                }
                .state-filter {
                    background-color: $dark-background;
                }
            }
        }
    }
}

body {
    #appCover {
        .v-btn--disabled {
            .v-icon {
                color: #9b9b9b !important;
            }
        }
    }
}
body {
    #appCover {
        .dark {
            .v-btn--disabled {
                .v-icon {
                    color: #575757 !important;
                }
            }
        }
    }
}

body {
    #appCover {
        .workflow-header {
            .summary {
                .heading-buttons {
                    .btn--disabled {
                        background-color: $light-tertiary !important;
                        color: #9B9B9B !important;
                    }
                }
            }
        }
    }
}
body {
    #appCover {
        .dark {
            .workflow-header {
                .summary {
                    .heading-buttons {
                        .btn--disabled {
                            background-color: $dark-tertiary !important;
                            color: #333333 !important;
                        }
                    }
                }
            }
        }
    }
}

body {
    #appCover {
        .input-style {
            .v-input,
            .v-text-field,
            .v-input--is-label-active,
            .v-input--is-focused{
                color: $light-primary !important;
                .v-input__control {
                    .v-input__slot {
                        .v-text-field__slot {
                            label {
                                color: $dark-text-color !important;
                            }
                            input {
                                color: $dark-text-color !important;
                                caret-color: $light-primary !important;                                
                            }
                        }
                        .v-input--selection-controls__input {
                            color: $light-primary !important;                                
                            .accent--text {
                                color: $light-primary !important;
                            }
                        }
                        label {
                            color: $dark-text-color;
                        }
                    }
                    .v-input__slot:before {
                        border-color: $light-primary !important;
                    }
                    .v-input__append-inner {
                        .v-input__icon {
                            .v-icon {
                                color: $light-primary !important;
                            }
                        }
                    }
                    .v-select__selections {
                        overflow: hidden;
                        color: $dark-text-color !important;
                    }
                    .v-text-field__details {
                        .v-messages {
                            color: $dark-text-color;
                        }
                    }
                }
            }
            .alt-color-field {
                color: $light-primary !important;
                .v-input__control {
                    .v-input__slot {
                        .v-text-field__slot {
                            label {
                                color: $dark-text-color !important;
                            }

                        }
                    }
                }
            }
        }
    }
}
body {
    #appCover {
        .dark {
            .input-style {
                .v-input,
                .v-text-field,
                .v-input__switch,
                .v-input--is-label-active,
                .v-input--is-focused{
                    color: $dark-primary !important;
                    .v-input__control {
                        .v-input__slot {
                            .v-text-field__slot {
                                label {
                                    color: $light-text-color !important;
                                }
                                input {
                                    color: $light-text-color !important;
                                    caret-color: $dark-primary !important;                                
                                }
                            }
                            .v-input--selection-controls__input {
                                color: $dark-primary !important;                                
                                .accent--text {
                                    color: $dark-primary !important;
                                }
                            }
                            label {
                                color: $light-text-color;
                            }
                        }
                        .v-input__slot:before {
                            border-color: $dark-primary !important;
                        }
                        .v-select__selections {
                            color: $light-text-color !important;
                        }
                        .v-input__append-inner {
                            .v-input__icon {
                                .v-icon {
                                    color: $dark-primary !important;
                                }
                            }
                        }
                        .v-text-field__details {
                            .v-messages {
                                color: $light-text-color;
                            }
                        }
                    }
                }
                .alt-color-field {
                    color: $dark-primary !important;
                    .v-input__control {
                        .v-input__slot {
                            .v-text-field__slot {
                                label {
                                    color: $dark-text-color !important;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}
body {
    #appCover {
        .v-menu__content {
            .v-select-list {
                color: $dark-text-color !important;
                .v-list {
                    color: $dark-text-color !important;
                    .v-list__tile--active {
                        color: $light-primary !important;
                    }
                }
            }
        }
    }
}

body {
    #appCover {
        .dark {
            .v-menu__content {
                .v-select-list {
                    color: $light-text-color !important;
                    .v-list {
                        color: $light-text-color !important;
                        background-color: $dark-tertiary !important;
                        .v-list__tile--active {
                            color: $dark-primary !important;
                        }
                    }
                }
            }
        }
    }
}

body {
    #appCover {
        .pagination-cont {
            align-items: center;
            .v-pagination__item {
                background-color: $light-wf !important;
                color: $dark-text-color;
            }
            .v-pagination__item--active {
                background-color: $light-primary !important;
                color: $light-text-color;
            }
            .v-pagination__item:hover {
                background-color: $light-link-active !important;
                color: $light-text-color !important;
            }
            .v-pagination__navigation {
                background-color: $light-wf !important;
                color: $dark-text-color;
                .v-icon {
                    background-color: $light-wf !important;
                    color: $dark-text-color !important;
                }
            }
            .v-pagination__navigation:hover {
                .v-icon {
                    background-color: $light-link-active !important;
                    color: $dark-text-color;
                }
            }
            .pagin-config {
                align-items: center;
                .per-page-label {
                    font-size: 1.1em;
                    font-weight: 700;
                    padding-left: 16px;
                    padding-bottom: 8px;
                    color: $dark-text-color;
                }
                .per-page,
                .v-input,
                .v-input--is-label-active,
                .v-input--is-focused {
                    width: 60px;
                    color: $light-primary !important;
                    .v-icon {
                        color: $dark-text-color !important;
                    }
                    .v-input__control {
                        .v-input__slot {
                            .v-select__selections {
                                color: $dark-text-color;
                            }
                            .v-input__append-inner {
                                .v-input__icon {
                                    .v-icon {
                                        color: $light-primary !important;
                                    }
                                }
                            }
                        }
                        .v-input__slot:before {
                            border-color: $dark-text-color;
                        }
                    }
                }
            }
            .v-pagination li span {
                float: none;
                color: $dark-text-color;
            }
            button {
                background-color: $light-background;
            }
        }
    }
}

body {
    #appCover {
        .dark {
            .pagination-cont {
                .v-pagination__item {
                    background-color: $dark-wf!important;
                    color: $light-text-color;
                }
                .v-pagination__item--active {
                    background-color: $dark-primary !important;
                    color: $light-text-color;
                }
                .v-pagination__item:hover{
                    background-color: $dark-tertiary !important;
                    color: $light-text-color;
                }
                .v-pagination__navigation {
                    background-color: $dark-wf !important;
                    color: $light-text-color;
                    .v-icon {
                        background-color: $dark-wf !important;
                        color: $light-text-color !important;
                    }
                }
                .v-pagination__navigation:hover {
                    .v-icon {
                        background-color: $dark-tertiary !important;
                        color: $light-text-color !important;
                    }
                }
                .pagin-config {
                    .per-page-label {
                        color: $light-text-color !important;
                    }
                    .per-page,
                    .v-input,
                    .v-input--is-label-active,
                    .v-input--is-focused {
                        color: $dark-primary !important;
                        .input-group__selections__comma {
                            color: $light-text-color !important;
                        }
                        .icon {
                            color: $light-text-color !important;
                        }
                        .input-group__details::before {
                            background-color: $light-text-color !important;
                        }
                        .v-input__control {
                            .v-input__slot {
                                .v-select__selections {
                                    color: $light-text-color;
                                }
                                .v-input__append-inner {
                                    .v-input__icon {
                                        .v-icon {
                                            color: $dark-primary !important;
                                        }
                                    }
                                }
                            }
                            .v-input__slot:before {
                                border-color: $light-text-color;
                            }
                        }
                    }
                }
                .v-pagination li span {
                    float: none;
                    color: $light-text-color;
                }
                button {
                    background-color: $dark-background;
                    color: $light-text-color;
                }
            }
        }
    }
}

.extend-connection-header-enter-active {
    animation: extend-connection-header 1s;
}
.extend-connection-header-leave-active {
    animation: extend-connection-header 1s reverse;
}
@keyframes extend-connection-header {
    0% {height: 0px}
    100% {height: 48px}
}

.extend-config-enter-active {
    animation: extend-config 1s;
}
.extend-config-leave-active {
    animation: extend-config 1s reverse;
}
@keyframes extend-config {
    0% {max-height: 0px}
    100% {max-height: 410px}
}

.extend-group-links-enter-active {
    animation: extend-group-links .75s;
}
.extend-group-links-leave-active {
    animation: extend-group-links .75s reverse;
}
@keyframes extend-group-links {
    0% {max-height: 0px;}
    100% {max-height: 205px;}
}

.extend-group-enter-active {
    animation: extend-group 0.75s;
}
.extend-group-leave-active {
    animation: extend-group 0.75s reverse;
}

@keyframes extend-group {
    0% {max-height: 0px;}
    100% {max-height: 500px;}
}

.extend-engine-persistent-enter-active {
    animation: extend-engine-persistent 0.75s;
}
.extend-engine-persistent-leave-active {
    animation: extend-engine-persistent 0.75s reverse;
}

@keyframes extend-engine-persistent {
    0% {max-height: 0px;}
    100% {max-height: 365px;}
}

.extend-engine-tranzient-enter-active {
    animation: extend-engine-tranzient 0.75s;
}
.extend-engine-tranzient-leave-active {
    animation: extend-engine-tranzient 0.75s reverse;
}

@keyframes extend-engine-tranzient {
    0% {max-height: 0px;}
    100% {max-height: 315px;}
}

.extend-engine-limited-enter-active {
    animation: extend-engine-limited 0.75s;
}
.extend-engine-limited-leave-active {
    animation: extend-engine-limited 0.75s reverse;
}

@keyframes extend-engine-limited {
    0% {max-height: 0px;}
    100% {max-height: 198px;}
}