@import 'variables';

html { 
    color: #eaeaea;
    min-width: 900px;
    overflow-x: auto 
}

body {
    min-width: 900px; 
}

.theme--dark .footer {
    background: $base-dark-color;
    border-top: 1px solid $base-border-color;
}
.theme--dark .toolbar, .application .theme--dark.toolbar {
    background-color: $base-dark-color;
}

.application.theme--dark {
    background: #2f333d;
}

body .list {
    background-color: $light-background !important;
}
.list li {
    color: $dark-text-color !important;
}
body .list__tile--active {
    color: $light-primary !important;
}

body .dark .list {
    background-color: $dark-background !important;
}
.dark .list li {
    color: $light-text-color !important;
}
body .dark .list__tile--active {
    color: $dark-primary !important;
}