html { 
    min-width: 900px;
    overflow-x: auto 
}

body {
    min-width: 900px;
}

.application.theme--light {
    background: #E0E0E0;
    color: rgba(0,0,0,0.87);
}

.theme--light .input-group input, .application .theme--light.input-group input, .theme--light .input-group textarea, .application .theme--light.input-group textarea {
    color: white;
}

.theme--light .input-group:not(.input-group--error) label, .application .theme--light.input-group:not(.input-group--error) label {
    color: white
}