// $test-import-color: red;
$darkest: #040d10;

$error: #ff6565;
$base-border-color: #43474e;
// $base-dark-color: #262a34;

$dark-primary: #41a578;
$dark-secondary: #262a34;
$dark-tertiary: #474D5A;
$dark-background: #2F333D;
$dark-sidebar: #262a34;
$dark-sidebar-icon: #b8c2d8;
$dark-engine-ingroup: #2f333d;
$dark-link-active: #353b4a;
$dark-link-hover: #3e4658;
$dark-wf: #353844;

$light-primary: #5caeb3;
$light-secondary: #e4e2e2;
$light-tertiary: #e0dede;
$light-background: #efefef;
$light-sidebar: #ffffff;
$light-sidebar-icon: #5caeb3;
$light-engine-ingroup: #efefef;
$light-link-active: #b2dde0;
$light-link-hover: #cfe9eb;
$light-wf: #ffffff;

$dark-text-color: #626262;
$dark-shade-text-color: #626262;
$dark-border: #43474e;
$light-text-color: #f5f5f5;
$light-shade-text-color: #eaeaea99;
$light-border: #626262;


@mixin sidebar-border-bottom {
    border-bottom: 1px solid $base-border-color !important;
}