.idea
**/*.iml
server/jetty.state
server/jetty.pid
.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
server/copper/webapps/static/js/
server/copper/webapps/static/img/
server/copper/webapps/static/fonts/
server/copper/webapps/static/dev/
server/copper/webapps/static/css/
server/copper/webapps/index.html
server/copper/webapps/static/engines.json

