.idea/**
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/codeStyleSettings.xml
!.idea/codeStyles
!.idea/codeStyles/*
!.idea/modules.xml
!.idea/gradle.xml
**/*.iml
.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
client-old/
server/copper-old/
server/copper/webapps/ROOT
