<div class="dashboard">    
    <sidebar ref="drawer"></sidebar>
    <v-toolbar app fixed clipped-left class="toolbar">
        <v-toolbar-side-icon @click.stop="$refs.drawer.drawer = !$refs.drawer.drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Copper Monitoring</v-toolbar-title>
        <v-spacer></v-spacer>
        <router-link to="/dashboard/overview/">
                <v-btn class="toolbar-button"> <v-icon>mdi-chart-bar</v-icon> Overview </v-btn>        
        </router-link>
        <v-menu v-model="menuOpen" offset-y class="user-menu" :close-on-content-click="false">
            <v-btn class="toolbar-button" @click="menuOpen = !menuOpen" slot="activator">  <v-icon>mdi-account</v-icon> User: {{ user.name }} </v-btn>
            <v-card class="user-menu-card">
                <v-layout column class="card-content">
                    <div class="user" v-if="!!user">
                        User Settings:
                    </div>
                    <v-layout row class="input-container">
                        <v-flex class="input-label">
                            Get data every 'x' seconds
                        </v-flex>
                        <v-flex class="input">
                            <v-text-field
                            v-on:change="setUpdate()"
                            v-on:keyup.enter="setUpdate()"
                            v-model="update"
                            mask="###"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row class="input-container">
                        <v-flex class="input-label">
                            <!-- Used for fetching data from engine -->
                            Not older than 'y' minutes
                        </v-flex>
                        <v-flex class="input">
                            <v-text-field
                            v-on:change="setFetch()"
                            v-on:keyup.enter="setFetch()"
                            v-model="fetch"
                            mask="###"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row class="switch-container">
                        <v-flex class="switch-label">
                            Dark Theme
                        </v-flex>
                        <v-switch v-model="themeSwitch"></v-switch>
                    </v-layout>
                </v-layout>
                <v-card-actions>
                    <v-btn @click="dialogConfig" v-if="!!user">
                        <v-icon>mdi-database</v-icon>
                        InfluxDB
                    </v-btn>
                    <v-btn @click="logout" v-if="!!user">
                        <v-icon>mdi-logout</v-icon>
                        Logout
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-menu>
    </v-toolbar>

    <!-- {{ connectionSettings }} -->

    <v-content>
        <v-container fluid fill-height v-if="initComplete && initComplete === true">
            <!-- <h2>Dashboard </h2> -->
            <transition name="router-component" mode="out-in">
                <router-view>loading...</router-view>
            </transition>
        </v-container>
    </v-content>

    <v-footer :fixed="true" app>
        <v-spacer></v-spacer>
        <span>SCOOP Software &copy; 2018</span>
    </v-footer>

    <v-dialog v-model="dialogConfigOpen" scrollable max-width="1200px" position="absolute">
        <v-card>
            <v-card-title position="absolute" class="dialog-title">
                <h2>Generated Telegraf Configuration File</h2>
                <v-spacer></v-spacer>             
                    <v-btn depressed class="squareButton" @click="dialogConfigOpen = false"><v-icon>mdi-close</v-icon></v-btn>      
            </v-card-title>
            <v-divider></v-divider>
                <v-card-text class="config-text">
                    <v-layout column class="telegraf-container">
                        <v-flex class="about">
                            <p>The following can be used for the Input section of a Telegraf Configuration file for use with InfluxDB. For more 
                                information, visit the <a href='https://www.influxdata.com/'>InfluxDB website</a>
                            </p>
                        </v-flex>
                        <v-layout row v-if="(beanCollisions.length > 0)" class='conflict-warning'>
                            <h1>Warning! Bean Collision!</h1>
                            <v-menu open-on-hover right offset-y :nudge-top="115" :nudge-right="35">
                                <v-icon slot='activator'>mdi-information</v-icon>
                                <div class="menu-header">
                                    <h1>Warning! Bean Collision Detected</h1>
                                </div>
                                <div class="menu-info">
                                    <h1>You have {{ beanCollisions.length }} MBean name{{ (beanCollisions.length > 1 ? 's' : '') }} shared between 2 or more engines. This may result in inaccurate statistics.</h1>
                                </div>
                                <div class="menu-details">
                                    <v-layout row v-for="collision in beanCollisions" key="collision.id">
                                        <v-layout column class="label">
                                            <p>MBean: </p>
                                            <p>Shared by: </p>
                                        </v-layout>
                                        <v-layout column class="value">
                                            <p>{{ collision.beanName }}</p>
                                            <p v-for="engine in collision.conflictEngines" key="engine.id">{{ engine }}</p>
                                        </v-layout>
                                    </v-layout>
                                </div>
                            </v-menu>
                        </v-layout>
                        <h1>Input Configuration</h1>
                        <div class="info-section">
                            <div class="btn-container">
                                <v-btn depressed @click="copy(configText)">Copy</v-btn>
                                <v-btn depressed @click="downloadConfig">Download</v-btn>
                            </div>
                            <scroll class="telegraf-scroll-area" :settings="{suppressScrollX: true, maxScrollbarLength: 400, wheelSpeed: 0.7}">
                                <v-flex class="config">
                                    <p style="white-space: pre;">{{ configText }}</p> 
                                </v-flex>
                            </scroll>
                        </div>
                        <h1>Sample Queries</h1>
                        <div class="info-section">
                            <div class="btn-container">
                                <v-btn depressed @click="copy(queryText)">Copy</v-btn>
                            </div>
                            <scroll class="telegraf-scroll-area" :settings="{suppressScrollX: true, maxScrollbarLength: 400, wheelSpeed: 0.2}">
                                <v-flex class="config">
                                        <p style="white-space: pre;">{{ queryText }}</p>  
                                </v-flex>
                            </scroll>
                        </div>
                    </v-layout>
                </v-card-text>
            <v-divider></v-divider>
        </v-card>
    </v-dialog>

</div>