@import '../../variables';

.router-component-enter-active, .router-component-leave-active {
    transition: opacity 0.3s;
}
.router-component-enter {
    opacity: 0;
}
.router-component-enter-to {
    opacity: 1;
}
.router-component-leave {
    opacity: 1;
}
.router-component-leave-to {
    opacity: 0;
}

.user-menu-card {
    background-color: $light-sidebar !important;
    color: $dark-text-color !important;
    button {
        background-color: $light-tertiary !important;
        color: $dark-text-color !important;
        .icon {
            color: $dark-text-color;
        }
    }
    .card-content {
        padding-left: 15px;
        padding-right: 15px;
        .user {
            font-size: 1.3em;
            font-weight: 700;
            padding-top: 15px;
        }
        .input-container {
            padding-top: 15px;
            padding-right: 15px;
            max-height: 40px;
            .input-label {
                flex-grow: 0;
                padding-right: 25px;   
            }
            .v-input {
                max-width: 35px;
                margin-top: -10px;
                label {
                    margin-top: -10px;
                }
            }
        }
        .switch-container {
            padding-top: 15px;
            max-height: 55px;
            .switch-label {
                flex-grow: 0;
                padding-right: 99px;
            }
            .v-input {
                max-width: 35px;
                margin-top: -5px;
                label {
                    margin-top: -10px;
                }
            }
        }

    }
    .card__actions {
        padding-left: 10px;
    }
}

.dashboard {
    padding-bottom: 50px;
    
    .criticalIssue {
        margin: 10px;
        padding: 10px;
        border-radius: 2px;
        font-size: 1.2em;
        color: $light-text-color;
        background-color: $error;
    }
    
    .toolbar {
        min-width: 420px;
        background-color: $light-primary;
        color: $light-text-color;
        .v-toolbar__side-icon {
            color: $light-text-color;
        }
        .menu {
            button {
                margin-right: 32px;
            }
        }
        .toolbar-button {
            background-color: $light-tertiary !important;
            color: $dark-text-color;
            margin-right: 10px;
            max-width: 150px;
            min-width: 150px;
            .icon {
                padding-right: 5px;
                color: $dark-text-color;
            }
        }
        a {
            text-decoration: none;
        }
    }

    .content {
        margin-top: 0;
        background-color: $light-background;
        .container {
            min-width: 975px;
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    nav .user {
        font-size: 1.2em;
    }
    footer {
        background-color: $light-tertiary !important;
        border-top: 1px solid $light-border;
        color: $dark-text-color;                    
        span {
            padding-right: 24px;
        }
    }
}

.dark {
    .user-menu-card {
        background-color: $dark-secondary !important;
        color: $light-text-color !important;
        button {
            background-color: $dark-tertiary !important;
            color: $light-text-color !important;
            .icon {
                color: $light-text-color;
            }
        }
        .card-content {
            .switch-container {
                .v-input {
                    .v-input__control {
                        .v-input__slot {
                            .v-input--selection-controls__input {
                                .v-input--selection-controls__ripple {
                                    color: $dark-primary !important;
                                }
                                .v-input--switch__track {
                                    color: $dark-primary !important;
                                }
                                .v-input--switch__thumb {
                                    color: $dark-primary !important;
                                }
                            }
                        }
                    }
                }
            }
    
        }
    }

    .dashboard {
        .toolbar {
            background-color: $dark-secondary;
            color: $light-text-color;
            .v-toolbar__side-icon {
                color: $light-text-color;
            }
            .menu {
                button {
                    background-color: $dark-tertiary !important;
                    color: $light-text-color;
                    .icon {
                        color: $light-text-color;
                    }
                }
            }
            .toolbar-button {
                background-color: $dark-tertiary !important;
                color: $light-text-color;
                .icon {
                    color: $light-text-color;
                }
            }
            a {
                text-decoration: none;
            }
        }
        .content {
            background-color: $dark-background;
        }
        footer {
            background-color: $dark-secondary !important;
            border-top: 1px solid $dark-border;
            color: $light-text-color;            
        }
    }
}