@import '../../../../variables';

.connection-config {
    border-bottom: 1px solid;
    border-color: $light-border !important;
    border-radius: 0px;
    overflow: hidden;
    
    &:last-child {
        border-bottom: none; 
    }
    
    .connection-container {
        padding-left: 10px;
        .connection-info {
            overflow: hidden;
            padding-top: 12px;
            font-size: 1.2em;
            font-weight: 400;
            max-width: 200px;
            color: $dark-text-color;
        }
        .not-connected-icon{
            color: #c53332;
        }
        .connected-icon{
            color: #69c57e;
        }
    }
}

.dark {
    .connection-config {
        border-color: $dark-border !important;
        .connection-container {
            .connection-info {
                color: $light-text-color;
            }
        }
    }
}