.connection-config {
    margin-top: 4px;
    border-radius: 0px;
    overflow: hidden;
    
    .connection-container {
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        height: 69px;
        .connection-info {
            padding-top: 12px;
            font-size: 1.3em;
            font-weight: 700;
        }
    }

    .config-input {
        label {
            color: white !important;
        }
        .input-group__input {
            input {
                color: white !important;
            }
        }
        .input-group__details:before  {
            background-color: white !important;
        }
        .input-group__details:after  {
            color: white;
        }
    }

    .card__title--primary {
        padding-top: 0px;
    }

    form {
        padding-top: 8px;
        width: 100%;
    }
    
}
