@import '../../../variables';

.audit-trails {
    width: 100%;
    max-width: 1650px;
    min-width: 1500px;
    margin: auto;

    .audit-cont {
        border-bottom: 1px solid;
        border-color: $light-border;
        overflow: hidden;

        .stop-grow {
            flex-grow: 0;
        }

        .longButton {
            height: 36px !important;
            width: 185px !important;
        }

        .beanNameButton {
            overflow: hidden;
            height: 36px !important;
        }

        h2 {
            color: $dark-text-color;
        }

        .connection-button {
            background-color: $green !important;
            color: $light-text-color;
        }
        .details-button {
            background-color: $blue !important;
            color: $light-text-color;
        }

        .summary {
            align-items: center;
            .sub-heading {
                width: 245px;
                min-width: 245px;
                max-width: 245px;
                font-size: 1.2em;
                font-weight: 400;
                margin-top: 2px;
                margin-right: 20px;
                color: $dark-text-color;
            }
            .heading-buttons {
                padding-right: 10px;
            }
        }

        .filter-menu,
        .chip-menu {
            flex-wrap: wrap; 
            border-radius: 2px;
            margin-top: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
            min-width: 986px;
        }
        .filter-menu {
            overflow: hidden;
            flex-wrap: nowrap;
            background-color: $light-tertiary;
            h3 {
                align-items: center;
                padding-left: 35px;
                padding-right: 0px;
                color: $dark-text-color;
            }
            .filter-layout {
                padding-left: 10px;
                padding-right: 10px;

                .filter-header {
                    min-height: 65px;
                    align-items: center;
                    padding-left: 15px;
                    padding-right: 0px;
                    label {
                        color: $dark-text-color !important;
                    }
                }

                .id-container {
                    max-width: 380px;
                    min-width:380px;
                    padding-top: 0px;
                    padding-bottom: 3px;
                    padding-left: 10px;
                    padding-right: 10px;
                    .text-input {
                        max-width: 380px;
                        .icon {
                            color: $light-primary !important;
                        }
                    }
                }

                .select-container {
                    max-width: 130px;
                    min-width: 130px;
                    padding-top: 0px;
                    padding-bottom: 3px;
                    padding-left: 10px;
                    padding-right: 10px;
                    .select {
                        max-width: 130px;
                        .v-icon {
                            color: $light-primary !important;
                        }
                    }
                }
    
                .time-field-container {
                    height: 65px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-top: -16px;
                    .time-field {
                        position: relative;
                        width: 190px;
                        max-width: 190px;
                        min-width: 190px;
                        padding: 5px;
                        .v-icon {
                            color: $light-primary !important;
                        }
                    }
                }
                .date-time-picker {
                    position: absolute;
                    padding-top: 7px;
                    padding-left: 5px;
                    padding-right: 5px;
                    width: 50px;
                    height: 100%;
                    bottom: -7px;
                    left: 142px;
                    button, input, select, textarea {
                        background-color: transparent;
                        height: 75%;
                        width: 100%;
                        opacity: 0;
                    }
                }
    
                .date-click-decorator{
                    cursor: pointer;
                }

                button {
                    height: 36px;
                    width: 150px;
                    min-width: 150px;
                    margin-bottom: -15px;
                    background-color: $light-primary !important;
                    color: $light-text-color;
                }
            }
            
        }
        .chip-menu {
            padding: 15px;
            overflow: hidden;
            flex-wrap: nowrap;
            background-color: $light-tertiary;
            .filter-chip-container {
                align-items: center;
                flex-wrap: wrap;
                h3 {
                    color: $dark-text-color;
                    min-width: 85px;
                }
                .filter-chip-flex {
                    padding: 5px;
                    .filter-chip {
                        background-color: $light-tertiary !important;
                        color: $dark-text-color;
                        .inner-chip { 
                            background-color: $light-primary;
                            color: $light-text-color;
                            margin-left: -7px !important;
                        }
                        .v-chip__content {
                            padding: 5px;
                        }
                    }
                }
            }
            button {
                margin-right: 5px;
                background-color: $light-primary !important;
                color: $light-text-color;
            }
        }

        .header {
            background-color: $light-primary;
            color: $light-text-color !important;
            margin-top: 16px;
            padding: 30px 16px 30px 16px;
            align-items: center;
            font-weight: 700;
            font-size: 1.1em;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }

        .error {
            background-color: $light-secondary !important;
            .error-message {
                border: 2px solid;
                border-color: $light-border;
                color: $dark-text-color;
                background-color: $light-tertiary !important;
            }
            .v-alert {
                margin: 20px;
            }
        }
    }

    .trail {
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: $light-border;

        .trail-layout >* {
            background-color: $light-wf;
            color: $dark-text-color;
            padding: 8px 16px;
            align-items: center;
            padding: 20px;
        }

    }

    .id,
    .preview,
    .logLevel,
    .occurence,
    .conversationId,
    .wfInstanceId,
    .correlationId,
    .transactionId,
    .messageType,
    .actions {
        word-wrap: break-word;
        padding: 0 10px;
    }
    .id {
        width: 60px;
        min-width: 60px;
        max-width: 60px;
    }
    .preview {
        min-width: 300px;
        flex-grow: 1;
    }
    .logLevel {
        width: 85px;
        min-width: 85px;
        max-width: 85px;
    }
    .id-group {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
    }
    .occurrence {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
    }
    .conversationId {
        width: 135px;
        min-width: 135px;
        max-width: 135px;
    }
    .wfInstanceId {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
    }
    .correlationId {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
    }
    .transactionId {
        width: 125px;
        min-width: 125px;
        max-width: 125px;
    }
    .actions {
        width: 110px;
        max-width: 110px;
        min-width: 110px;

        .close-details-icon {
            transform: rotate(180deg);
        }

    }

    .message-layout {
        padding: 0px;
        overflow: hidden;
        .details {
            color: $dark-text-color;
            background-color: $light-tertiary;
            padding-left: 32px;
            padding-right: 32px;
            padding-bottom: 24px;
            padding-top: 0px;
            width: 100%;
            .detail-label {
                font-weight: 700;
                padding-top: 20px;
                padding-bottom: 10px;
                padding-right: 10px;
                min-width: 100px;
                max-width: 100px;
                margin-right: 75px;
            }
            .text {
                overflow-x: auto;
                padding: 5px;
                margin-right: 150px;
                border: 1px solid;
                border-color: $light-border;
                background-color: $light-background;
            }
        }
    }

    .footer-card {
        background-color: $light-tertiary;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .list-item {
        display: inline-block;
        margin-right: 10px;
    }

    .extend-enter-active {
        animation: extend 0.75s;
    }
    .extend-leave-active {
        animation: extend 0.75s reverse;
    }
    @keyframes extend {
        0% {max-height: 0px;}
        100% {max-height: 1000px;}
    }
    .extend-message-enter-active {
        animation: extend-message 1s;
    }
    .extend-message-leave-active {
        animation: extend-message 0.8s reverse;
    }
    @keyframes extend-message {
        0% {max-height: 0px;
            padding-bottom: 0px;}
        100% {max-height: 120px;
            padding-bottom: 24px;}
    }
    .extend-audit-filter-enter-active {
        animation: extend-audit-filter 0.65s;
    }
    .extend-audit-filter-leave-active {
        animation: extend-audit-filter 0.65s reverse;
    }
    @keyframes extend-audit-filter {
        0% {max-height: 0px;
            padding-top: 0px;
            padding-bottom: 0px;}
        100% {max-height: 278px;
            padding-top: 20px;
            padding-bottom: 20px;}
    }
    .extend-audit-chip-enter-active {
        animation: extend-audit-chip 0.75s;
    }
    .extend-audit-chip-leave-active {
        animation: extend-audit-chip 0.75s reverse;
    }
    @keyframes extend-audit-chip {
        0% {max-height: 0px;
            padding-top: 0px;
            padding-bottom: 0px;}
        100% {max-height: 129px;
            padding-top: 15px;
            padding-bottom: 15px;}
    }

}

.dark {
    .audit-trails {

        .audit-cont {
            border-color: $dark-border;
            h2 {
                color: $light-text-color;
            }
            .connection-button {
                background-color: $dark-primary !important;
                color: $light-text-color;
            }
            .details-button {
                background-color: $dark-primary !important;
                color: $light-text-color;
            }
            .summary {
                .sub-heading {
                    color: $light-text-color;
                }
            }
            
            .filter-menu {
                background-color: $dark-secondary;
                h3 {
                    color: $light-text-color;  
                }
                .filter-header {
                    label {
                        color: $light-text-color !important;
                    }
                }
                .filter-layout {
                    .time-field-container {
                        .time-field {
                            .v-icon {
                                color: $dark-primary !important;
                            }
                        }
                    }
                }
                .select-container {
                    .select {
                        .v-icon {
                            color: $dark-primary !important;
                        }
                    }
                }
                
                button {
                    background-color: $dark-primary !important;
                    color: $light-text-color;
                }
            }
            .chip-menu {
                background-color: $dark-secondary;
                .filter-chip-container {
                    h3 {
                        color: $light-text-color;
                        min-width: 85px;
                    }
                    .filter-chip-flex {
                        .filter-chip {
                        background-color: $dark-tertiary !important;
                            color: $light-text-color;
                            .inner-chip { 
                                background-color: $dark-primary;
                                color: $light-text-color;
                            }
                            .v-chip__content {
                                padding: 5px;
                            }
                        }
                    }
                }
                button {
                    background-color: $dark-primary !important;
                    color: $light-text-color;
                }
            }

            .header {
                background-color: $dark-primary;
            }
            .error {
                background-color: $dark-secondary !important;
                .error-message {
                    border-color: $dark-border;
                    color: $light-text-color;
                    background-color: $dark-tertiary !important;
                }
            }
        }

        .trail {
            border-color: $dark-border;
            .trail-layout >* {
                background-color: $dark-wf;
                color: $light-text-color;
                .actions {
                    button {
                        background-color: $dark-primary !important;
                        color: $light-text-color;
                    }
                }
            }
        }
        .message-layout {
            .details {
                color: $light-text-color;
                background-color: $dark-tertiary;
                .text {
                    border-color: $dark-border;
                    background-color: $dark-wf;
                }
            }
        }
        .footer-card {
            background-color: $dark-secondary;
        }
    }
}
