@import '../../../variables';

.overview {
    width: 100%;
    max-width: 1650px;
    margin: auto;

    h2 {
        margin-top: 10px;
        color: $dark-text-color;
    }

    .button-container {
        padding-top: 15px;
        button {
            min-width: 111px;
            max-width: 111px;
            background-color: $light-tertiary !important;
            color: $dark-text-color;
            .icon {
                color: $dark-text-color;  
                margin-right: 10px;          
            }
        }
        .btn--disabled {
            color: #9B9B9B !important;
        }
        .influx-button {
            max-width: 185px;
            min-width: 185px;
        }
        .not-connected-icon{
            color: #c53332 !important;
        }
        .connected-icon{
            color: #69c57e !important;
        }  
        .not-used-icon{
            color: #9b9b9b !important;
        }  
    }

    .no-connection-card {
        margin-top: 30px;
        background-color: $light-background !important;
        .card__text {
            background-color: $light-background !important;
            .alert {
                border: 2px solid;
                margin: 20px;
                background-color: $light-tertiary !important;
                border-color: $light-border !important;
                color: $dark-text-color;
            }
        }
    }  

    .stat-card-container {
        width: 100%;
        flex-wrap: wrap;
        .stat-card {
            border-radius: 2px;
            max-width: 740px;
            min-width: 740px;
            margin: 20px;
            border: 1px solid;
            padding-left: 20px;  
            padding-right: 20px;          
            border-color: $light-border;
            background-color: $light-wf;
            color: $dark-text-color;
            h2 {
                padding-left: 20px;
            }
            canvas {
                width: 700px !important;
            }
        }
    }
}

.dark {
    .overview {
        h2 {
            color: $light-text-color;
        }
        .button-container {
            button {
                background-color: $dark-tertiary !important;
                color: $light-text-color;
                .icon {
                    color: $light-text-color;
                }
            }
            .btn--disabled {
                color: #333333 !important;
            }
        }
        .no-connection-card {
            background-color: $dark-secondary !important;
            .card__text {
                background-color: $dark-secondary !important;
                .alert {
                    background-color: $dark-tertiary !important;
                    border-color: $dark-tertiary !important;
                    color: $light-text-color;
                }
            }
        }
        .summary {
            .text {
            color: $light-text-color;                
            }
        }

        .stat-card-container {
            .stat-card {
                border-color: $dark-border;
                background-color: $dark-wf;
                color: $light-text-color;
            }
        }
    }
}

.close-details-icon {
    transform: rotate(180deg);
}

.extend-information-enter-active {
    animation: extend-information 0.75s;
}
.extend-information-leave-active {
    animation: extend-information 0.75s reverse;
}
@keyframes extend-information {
    0% {max-height: 0px;}
    100% {max-height: 375px;}
} 