<div class="overview">
    <v-layout row>
        <h2>Statistics Overview</h2>
        <v-spacer></v-spacer>
        <div class="button-container">
            <v-menu offset-y>
                <v-tooltip top content-class="tooltip-text" slot="activator">
                    <v-btn slot="activator"><v-icon>mdi-clock</v-icon>{{ newTime }}</v-btn>
                    <span>Fetch Period</span>
                </v-tooltip>
                <v-list>
                    <v-list-tile v-for="time in timeSelect" :key="time.id" @click="updateTime(time)">
                    <v-list-tile-title>{{ time }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
            <v-menu offset-y>
                <v-tooltip top content-class="tooltip-text" slot="activator">
                    <v-btn slot="activator"><v-icon>mdi-menu</v-icon>{{ newLayout }}</v-btn>
                    <span>Layout Type</span>
                </v-tooltip>
                <v-list>
                    <v-list-tile v-for="layout in layoutSelect" :key="layout.id" @click="newLayout = layout">
                    <v-list-tile-title>{{ layout }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
            <v-btn class='influx-button' @click="triggerOpenInflux"><v-icon>mdi-database</v-icon>InfluxDB</v-btn>
        </div>
    </v-layout>
    <v-layout :row='getRow' :column='!getRow' class="stat-card-container">
        <v-layout class="stat-card" v-for="group in this.groups" :key="group.id" row>
            <p>{{ getName(group) }}</p>
        </v-layout>
    </v-layout>

    <v-dialog v-model="openInfluxDialog" scrollable max-width="1126px" position="absolute" persistent>
        
        <v-card class="telegraf-card">
            <v-card-title position="absolute" class="dialog-title">
                <h2 id="topOfPage">Conneting to Influx DB</h2>
                <v-spacer></v-spacer>             
                    <v-btn depressed class="squareButton" @click="openInfluxDialog = false"><v-icon>mdi-close</v-icon></v-btn>      
            </v-card-title>
            <v-divider></v-divider>
            <scroll class="telegraf-scroll-area" ref="perfectScroll" :settings="{suppressScrollX: true, maxScrollbarLength: 200, wheelSpeed: 0.4}">
                <v-card-text class="config-text">
                    <v-layout column class="telegraf-container">
                        <div class='connection-section'>
                            <v-layout row class="section-header">
                                <div class="connection-icon-container">
                                    <v-icon 
                                        v-show="connectionSuccess === true"
                                        class="connected-icon">
                                        fiber_manual_record
                                    </v-icon> 
                                    <v-icon 
                                        v-show="connectionSuccess === false"
                                        class="not-connected-icon"> 
                                        fiber_manual_record
                                    </v-icon> 
                                </div>
                                <h1>Connection</h1>
                            </v-layout>
                            <div class="info-section">
                                <div class="submit-btn-container">
                                    <v-btn depressed @click="submit">Submit</v-btn>
                                </div>
                                <div class="telegraf-scroll-area">
                                    <v-layout row class="config">
                                        <v-layout class="input-container input-style" column>
                                            <v-text-field
                                                v-model="host"
                                                label="Host">
                                            </v-text-field>
                                            <v-text-field
                                                v-model="port"
                                                label="Port">
                                            </v-text-field>
                                        </v-layout>
                                        <v-layout class="input-container input-style" column>
                                            <v-text-field
                                                v-model="username"
                                                label="User">
                                            </v-text-field>
                                            <v-text-field
                                                v-model="password"
                                                label="Password">
                                            </v-text-field>
                                        </v-layout>
                                    </v-layout>
                                </div>
                            </div>
                        </div>
                        <v-layout row v-if="(beanCollisions.length > 0)" class='conflict-warning'>
                            <h1>Warning! Bean Collision!</h1>
                            <v-menu open-on-hover right offset-y :nudge-top="115" :nudge-right="35">
                                <v-icon slot='activator'>mdi-information</v-icon>
                                <div class="menu-header">
                                    <h1>Warning! Bean Collision Detected</h1>
                                </div>
                                <div class="menu-info">
                                    <h1>You have {{ beanCollisions.length }} MBean name{{ (beanCollisions.length > 1 ? 's' : '') }} shared between 2 or more engines. This may result in inaccurate statistics.</h1>
                                </div>
                                <div class="menu-details">
                                    <v-layout row v-for="collision in beanCollisions" key="collision.id">
                                        <v-layout column class="label">
                                            <p>MBean: </p>
                                            <p>Shared by: </p>
                                        </v-layout>
                                        <v-layout column class="value">
                                            <p>{{ collision.beanName }}</p>
                                            <p v-for="engine in collision.conflictEngines" key="engine.id">{{ engine }}</p>
                                        </v-layout>
                                    </v-layout>
                                </div>
                            </v-menu>
                        </v-layout>
                        <v-layout row class="section-header">
                            <v-btn dark icon slot="activator" :disabled="clickAllowed === false" @click="triggerTelegrafInput">
                                <v-icon :class="{ 'close-details-icon': openTelegrafInput }" class="control-icon">details</v-icon>
                            </v-btn>
                            <h1>Telegraf Input Configuration</h1>
                        </v-layout>
                        <transition name="extend-information">
                            <div v-if="openTelegrafInput" class='transition-container'>
                                <v-flex class="about">
                                    <p>This can be used as the Input section of a Telegraf Configuration file for use with InfluxDB. For more 
                                        information, visit the <a href='https://www.influxdata.com/'>InfluxDB website</a>
                                    </p>
                                </v-flex>
                                <div class="info-section">
                                    <div class="btn-container">
                                        <v-btn depressed @click="copy(configText)">Copy</v-btn>
                                        <v-btn depressed @click="downloadConfig">Download</v-btn>
                                    </div>
                                    <scroll class="telegraf-scroll-area" :settings="{suppressScrollX: true, maxScrollbarLength: 400, wheelSpeed: 0.7}">
                                        <v-flex class="config">
                                            <p style="white-space: pre;">{{ configText }}</p> 
                                        </v-flex>
                                    </scroll>
                                </div>
                            </div>
                        </transition>
                        <v-layout row class="section-header">
                            <v-btn dark icon slot="activator" :disabled="clickAllowed === false" @click="triggerSampleQueries">
                                <v-icon :class="{ 'close-details-icon': openSampleQueries }" class="control-icon">details</v-icon>
                            </v-btn>
                            <h1>Sample Queries</h1>
                        </v-layout>
                        <transition name="extend-information">
                            <div v-if="openSampleQueries" class='transition-container'>
                                <div class="info-section">
                                    <div class="btn-container">
                                        <v-btn depressed @click="copy(queryText)">Copy</v-btn>
                                    </div>
                                    <scroll class="telegraf-scroll-area" :settings="{suppressScrollX: true, maxScrollbarLength: 400, wheelSpeed: 0.2}">
                                        <v-flex class="config">
                                                <p style="white-space: pre;">{{ queryText }}</p>  
                                        </v-flex>
                                    </scroll>
                                </div>
                            </div>
                        </transition>
                    </v-layout>
                </v-card-text>
            </scroll>
            <v-divider></v-divider>
        </v-card>
    </v-dialog>

</div>