<div class="overview">
    <v-layout row>
        <h2>Statistics Overview</h2>
        <v-spacer></v-spacer>
        <div class="button-container">
            <v-btn @click="triggerOpenInflux">Connect InfluxDB</v-btn>
            <v-menu offset-y>
                <v-tooltip top content-class="tooltip-text" slot="activator">
                    <v-btn slot="activator"><v-icon>mdi-clock</v-icon>{{ newTime }}</v-btn>
                    <span>Fetch Period</span>
                </v-tooltip>
                <v-list>
                    <v-list-tile v-for="time in timeSelect" :key="time.id" @click="updateTime(time)">
                    <v-list-tile-title>{{ time }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
            <v-menu offset-y>
                <v-tooltip top content-class="tooltip-text" slot="activator">
                    <v-btn slot="activator"><v-icon>mdi-menu</v-icon>{{ newLayout }}</v-btn>
                    <span>Layout Type</span>
                </v-tooltip>
                <v-list>
                    <v-list-tile v-for="layout in layoutSelect" :key="layout.id" @click="newLayout = layout">
                    <v-list-tile-title>{{ layout }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </div>
    </v-layout>
    <v-layout :row='getRow' :column='!getRow' class="stat-card-container">
        <v-layout class="stat-card" v-for="group in this.groups" :key="group.id" row>
            <p>{{ getName(group) }}</p>
        </v-layout>
    </v-layout>

    <!-- <v-dialog v-model="openInfluxDialog" max-width="600px" position="absolute">
        <v-card class='db-info-container'>
            <v-card-title position="absolute" class="dialog-title">
                <h2>Connect to Influx DB</h2>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-layout row>
                    <v-layout column>
                        <v-layout row>
                            <v-layout column class="labels">
                                <h2>Host: </h2>
                                <h2>Port: </h2>
                            </v-layout>
                            <v-layout column class="fields">
                                <v-text-field v-model="host">
                                </v-text-field>
                                <v-text-field v-model="port">
                                </v-text-field>
                            </v-layout>
                        </v-layout>
                    </v-layout>
                    <v-layout column>
                        <v-layout row>
                            <v-layout column class="labels">
                                <h2>User: </h2>
                                <h2>Password: </h2>
                            </v-layout>
                            <v-layout column class="fields">
                                <v-text-field v-model="username">
                                </v-text-field>
                                <v-text-field v-model="password">
                                </v-text-field>
                            </v-layout>
                        </v-layout>
                    </v-layout>
                </v-layout>
                <v-card-actions>
                    <v-layout row class="db-buttons">
                        <v-spacer></v-spacer>
                        <v-btn>Info</v-btn>          
                        <v-btn @click="submit">Submit</v-btn>
                    </v-layout>
                </v-card-actions>
            </v-card-text>
        </v-card>
    </v-dialog> -->

    <v-dialog v-model="openInfluxDialog" scrollable max-width="1200px" position="absolute">
        <v-card class="telegraf-card">
            <v-card-title position="absolute" class="dialog-title">
                <h2>Generated Telegraf Configuration File</h2>
                <v-spacer></v-spacer>             
                    <v-btn depressed class="squareButton" @click="openInfluxDialog = false"><v-icon>mdi-close</v-icon></v-btn>      
            </v-card-title>
            <v-divider></v-divider>
                <v-card-text class="config-text">
                    <v-layout column class="telegraf-container">
                        <v-flex class="about">
                            <p>The following can be used for the Input section of a Telegraf Configuration file for use with InfluxDB. For more 
                                information, visit the <a href='https://www.influxdata.com/'>InfluxDB website</a>
                            </p>
                        </v-flex>
                        <v-layout row v-if="(beanCollisions.length > 0)" class='conflict-warning'>
                            <h1>Warning! Bean Collision!</h1>
                            <v-menu open-on-hover right offset-y :nudge-top="115" :nudge-right="35">
                                <v-icon slot='activator'>mdi-information</v-icon>
                                <div class="menu-header">
                                    <h1>Warning! Bean Collision Detected</h1>
                                </div>
                                <div class="menu-info">
                                    <h1>You have {{ beanCollisions.length }} MBean name{{ (beanCollisions.length > 1 ? 's' : '') }} shared between 2 or more engines. This may result in inaccurate statistics.</h1>
                                </div>
                                <div class="menu-details">
                                    <v-layout row v-for="collision in beanCollisions" key="collision.id">
                                        <v-layout column class="label">
                                            <p>MBean: </p>
                                            <p>Shared by: </p>
                                        </v-layout>
                                        <v-layout column class="value">
                                            <p>{{ collision.beanName }}</p>
                                            <p v-for="engine in collision.conflictEngines" key="engine.id">{{ engine }}</p>
                                        </v-layout>
                                    </v-layout>
                                </div>
                            </v-menu>
                        </v-layout>
                        <h1>Input Configuration</h1>
                        <div class="info-section">
                            <div class="btn-container">
                                <v-btn depressed @click="copy(configText)">Copy</v-btn>
                                <v-btn depressed @click="downloadConfig">Download</v-btn>
                            </div>
                            <scroll class="telegraf-scroll-area" :settings="{suppressScrollX: true, maxScrollbarLength: 400, wheelSpeed: 0.7}">
                                <v-flex class="config">
                                    <p style="white-space: pre;">{{ configText }}</p> 
                                </v-flex>
                            </scroll>
                        </div>
                        <h1>Sample Queries</h1>
                        <div class="info-section">
                            <div class="btn-container">
                                <v-btn depressed @click="copy(queryText)">Copy</v-btn>
                            </div>
                            <scroll class="telegraf-scroll-area" :settings="{suppressScrollX: true, maxScrollbarLength: 400, wheelSpeed: 0.2}">
                                <v-flex class="config">
                                        <p style="white-space: pre;">{{ queryText }}</p>  
                                </v-flex>
                            </scroll>
                        </div>
                    </v-layout>
                </v-card-text>
            <v-divider></v-divider>
        </v-card>
    </v-dialog>

</div>