.classes {
    width: 100%;
    max-width: 1650px;
    margin: auto;

    .summary {
        .text {
            font-size: 1.2em;
            font-weight: 400;
            padding-top: 8px;
            padding-right: 20px;
            color: #efefef;
        }
        .stopGrow {
            flex-grow: 0;
        }
    }

    .header {
        margin-top: 16px;
        padding: 30px 16px 30px 16px;
        align-items: center;
        font-weight: 700;
        font-size: 1.1em;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .workflows-cont {
        border-bottom: 1px solid;
    }

    .workflow {
        border-top: 1px solid;
    }

    .workflow-layout >* {
        padding: 8px 16px;
        align-items: center;
        padding: 20px;
    }
    
    .number,
    .alias,
    .classname,
    .version,
    .actions {
        word-wrap: break-word;
        // width: 120px;
        // min-width: 120px;
        // max-width: 120px;
        padding: 0 10px;
    }
    .number {
        width: 35px;
        min-width: 35px;
        max-width: 35px;
    }
    .version {
        width: 350px;
        min-width: 125px;
        max-width: 350px;
    }

    .classname {
        width: 550px;
        min-width: 240px;
        max-width: 550px;
    }
    .alias {
        width: 550px;
        min-width: 240px;
        max-width: 550px;
    }
    .actions {
        width: 110px;
        max-width: 110px;
        min-width: 110px;

        button {
            // margin-right: 4px;
            // margin-left: 4px;
            margin-left: 32px;
            border-radius: 20%;
        }

        .close-details-icon {
            transform: rotate(180deg);
        }

    }

    .workflow-info-layout {

        padding: 0px;

        .code {
            padding-left: 30px;
            padding-right: 30px;
        }

        .details {
            // background: #4e4e4e;
            padding-left: 32px;
            padding-right: 32px;
            padding-bottom: 24px;
            padding-top: 0px;
            width: 100%;

            .workflow-detail {
                padding: 4px;
            }

            .detail-label {
                font-weight: 700;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 10px;
                max-width: 75px;
                margin-right: 75px;
            }

            .stacktrace .text {
                overflow-x: auto;
                padding-top: 20px;
                padding-left: 5px;
            }
        }
    }

    .custom-loader {
        animation: loader 1s infinite;
        display: flex;
    }

    .pagination-cont {
        align-items: center;
        .pagin-config {
            align-items: center;
            .per-page-label {
                font-size: 1.1em;
                font-weight: 700;
                padding-left: 16px;
                padding-bottom: 8px;
            }
            .per-page {
                width: 60px;
            }
        }


        .pagination li span {
            float: none;
            // color: #ffffff;
            // background-color: #424242;
            // border: 1px solid #424242;
        }
    }

    .footer-card {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .list-item {
        display: inline-block;
        margin-right: 10px;
    }
    .list-enter-active, .list-leave-active {
        transition: all 1s;
    }
    .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
        opacity: 0;
        transform: translateY(30px);
    }
    .list-move {
        transition: transform 1s;
    }

}