.in-group {
    margin-left: 15px;
    margin-right: 15px;
    // border-bottom: 1px solid #79797b;
    margin-bottom: 2px;
    background: #2f333d;
    overflow: hidden;
    
    &:last-child {
        margin-bottom: 15px;
        border-bottom: none;
    }
}