<div :class="{ 'in-group' : multiEngine }">
    <v-layout row class="tile-header">
        <v-flex class="icon-container">
                <v-icon :class="{'engine-persistent-icon' : (status.type === 'persistent'), 'engine-tranzient-icon' : (status.type === 'tranzient')}">extension</v-icon>
        </v-flex>
        <v-layout column>
            <h2> {{status.engineId}} </h2>
            <v-layout row class="engine-sub-details">
                <v-flex class="sub-info">
                    {{status.type}}
                </v-flex>
                <v-tooltip top content-class="tooltip-text">
                    <v-flex v-if="!open && !multiEngine" class="count-info" slot="activator">
                        ( {{ wfCount }} / {{ status.brokenWFCount }} )
                    </v-flex>
                    <span>( Workflow Instances / Broken Workflows )</span>
                </v-tooltip>
                <v-tooltip top content-class="tooltip-text">
                    <v-flex v-if="!open && multiEngine" class="count-info" slot="activator">
                        ( {{ wfCount }} )
                    </v-flex>
                    <span>( Workflow Instances )</span>
                </v-tooltip>
            </v-layout>
        </v-layout>
        <v-spacer></v-spacer>
        <v-tooltip top content-class="tooltip-text">
            <v-btn dark icon @click="openEngine" slot="activator" :disabled="clickAllowed === false">
                <v-icon :class="{ 'close-details-icon': open }" class="control-icon">details</v-icon>
            </v-btn>
            <span>Show Details</span>
        </v-tooltip>
    </v-layout>
    <transition :name="extendTypeOfEngine">
    <div class="tile-interior" v-show="open">
    <div v-if="status" class="tile-info">
        <div class="info-summary">
            <div class="label">
                <span>
                    Connection:
                </span>
                <span class="value">
                    {{connection.host}}:{{connection.port}}
                </span>
            </div>
            <div class="label">
                <span>
                    WF instances:
                </span>
                <span class="value">
                    {{wfCount}}
                </span>
            </div>
            <div v-if="multiEngine === false" class="label">
                <span>
                    Broken WF instances:
                </span>
                <span class="value">
                    {{ status.brokenWFCount }}
                </span>
            </div>
            <div class="label">
                <span>
                    Last activity:
                </span>
                <span class="value">
                    {{status.lastProcessing | moment("HH:mm DD/MM/YYYY")}}
                </span>
            </div>
            <div class="label">
                <span>
                    Started:
                </span>
                <span class="value">
                    {{status.runningSince | moment("HH:mm DD/MM/YYYY")}}
                </span>
            </div>
        </div>
    </div>
    <div class="link-list-container">
        <v-flex v-for="link in links" :key="link.path" class="link-container">
            <router-link :to="link.path" active-class="activeLink" class="link">
                <div class="link-background">
                    <v-layout row class="link-interior">
                        <v-flex class="link-icon">
                            <v-icon dark>{{ link.icon }}</v-icon>
                        </v-flex>
                        <div class="link-name">
                            {{ link.name }}
                        </div>
                    </v-layout>
                </div>                
            </router-link>
        </v-flex>
    </div>
    </div>
    </transition>
</div>