.in-group {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #79797b;
    background: #3c3a3a;
    
    &:last-child {
        margin-bottom: 15px;
        border-bottom: none;
    }
}

.engine-status-card {
    overflow: hidden;
    // border-bottom: 1px solid #79797b;
    // padding-bottom: 10px;

    .card {
        background: none;
    }
    .icon {
        color: #e4e4e4;
    }
    .engine-status {

        // padding: 10px 0 0px 10px;
        // border-radius: 0px;
        
        .stopGrow {
            flex-grow: 0;
        }
        
        .engine-id {
            font-size: 1.3em;
            font-weight: 700;
            word-wrap: break-word;
            max-width: 200px;
            color: #d6d6d6;
        }
        .summary {
            font-size: 1em;
            padding-left: 10px;
            min-width: 85px;
            cursor: default;
        }
        .summary-limited {
            font-size: 1em;
            padding-left: 10px;
            min-width: 25px;
            cursor: default;
        }
        .status-summary-container {
            padding-top: 10px;
        }
        
    }
    .link-list {
        overflow: hidden;
    }
}