@import '../../../variables';

.workflows {
    width: 100%;
    max-width: 1650px;
    margin: auto;

    .delete-button {
        background-color: $red !important;
        color: $light-text-color;
    }
    .restart-button {
        background-color: $green !important;
        color: $light-text-color;
    }
    .details-button {
        background-color: $blue !important;
        color: $light-text-color;
    }

    .stopGrow {
        flex-grow: 0;
    }
    .longButton {
        height: 36px !important;
        width: 185px !important;
    }
    .workflow-layout >* {
        padding: 8px 16px;
        align-items: center;
    }

    .workflow-layout-header {
        max-height: 97px !important;
        overflow: hidden;
    }
    .correct-height {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .workflows-cont {
        border-bottom: 1px solid;
        border-color: $light-border;
        overflow: hidden;
        .card {
            background-color: $light-secondary !important;
            .card__text {
                background-color: $light-secondary !important;
                .alert {
                    margin: 20px;
                    background-color: $light-tertiary !important;
                    border-color: $light-tertiary !important;
                    color: $dark-text-color;
                }
            }
        }       
        .workflow {
            z-index: 0;
            border-top: 1px solid;
            border-color: $light-border;
            .workflow-layout {
                background-color: $light-wf;
                color: $dark-text-color;
                .workflow-info-layout {
                    padding: 0px;
                    overflow: hidden;
                }
            }
        }
    } 

    .number,
    .data,
    .priority,
    .processorPoolId,
    .state,
    .timeout,
    .timestamps,
    .engineId,
    .actions {
        word-wrap: break-word;
        padding: 0 5px;
    }
    .number {
        width: 35px;
        min-width: 35px;
        max-width: 35px;
    }
    .data {
        min-width: 380px; 
    }
    .engineId {
        width: 85px;
        min-width: 85px;
        max-width: 85px; 
    }
    .processorPoolId {
        width: 130px;
        min-width: 130px;
        max-width: 130px;
    }
    
    .actions {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        button {
            margin-right: 4px;
            margin-left: 4px;
            border-radius: 20%;
        }
        .close-details-icon {
            transform: rotate(180deg);
        }
    }
    .single-button {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        button {
            margin-right: 4px;
            margin-left: 4px;
            border-radius: 20%;
        }
        .close-details-icon {
            transform: rotate(180deg);
        }
    }
    .timestamps {
        width: 150px;
        min-width: 150px;
        max-width: 150px;

        .errorTS,
        .lastModTS,
        .creationTS {
            padding: 3px 0;
        }
    }
    .timeout {
        width: 130px;
        min-width: 130px;
        max-width: 130px;
    }
    .priority,
    .state {
        width: 75px;
        min-width: 75px;
        max-width: 75px;
    }

    .pagination-cont {
        align-items: center;
        .pagination__item {
            background-color: $light-primary !important;
            color: $light-text-color;
        }
        .pagination__navigation {
            background-color: $light-tertiary !important;
            color: $dark-text-color;
            .icon {
                background-color: $light-tertiary !important;
                color: $dark-text-color;
            }
        }
        .pagin-config {
            align-items: center;
            .per-page-label {
                font-size: 1.1em;
                font-weight: 700;
                padding-left: 16px;
                padding-bottom: 8px;
                color: $dark-text-color;
            }
            .per-page {
                width: 60px;
                color: $light-primary !important;
                .input-group__selections__comma {
                    color: $dark-text-color !important;
                }
                .icon {
                    color: $dark-text-color !important;
                }
                .input-group__details::before {
                    background-color: $dark-text-color !important;
                }
            }
        }
        .pagination li span {
            float: none;
        }
        button {
            background-color: $light-background;
        }
    }

    .footer-card {
        background-color: $light-tertiary;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .list-item {
        display: inline-block;
        margin-right: 10px;
    }

    .highlight-workflow-layout {
        .workflow-layout {
            background-color: #439e8c !important;
            opacity: 0.9;
        }
        .workflow-details {
            background-color: #439e8c !important;
            opacity: 0.9;
        }
    }
    .highlight-workflow-deleting >* {
        background: #e74615 !important;
        color: #f5f5f5 !important;
        height: 97px;
        opacity: 1;
        z-index: -1;
        animation-name: deleteAnimation;
        animation-duration: 1.5s;
    }
    @keyframes deleteAnimation {
        0% {height: 97px;
            padding-top: 40px;
            padding-bottom: 40px;
            opactiy: 1;}
        100% {height: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            opactiy: 0;}
    }
    .highlight-workflow-extended-deleting >* {
        background: #e74615 !important;
        color: #f5f5f5 !important;
        z-index: -1;
        max-height: 999px;
        opacity: 1;
        animation-name: deleteAnimationExtended;
        animation-duration: 1.5s;
    }
    @keyframes deleteAnimationExtended {
        0% {max-height: 999px;
            opactiy: 1;
            padding-top: 40px;
            padding-bottom: 40px;}
        100% {max-height: 0px;
            opactiy: 0;
            padding-top: 0px;
            padding-bottom: 0px;}
    }
    .highlight-workflow-details-deleting >* {
        background: #e74615 !important;
    }

    .fade {
        opacity: 0.4;
        animation-name: slowFade;
        animation-duration: 1s;
    }
    @keyframes slowFade {
        from {opacity: 1}
        to {opacity: 0.4}
    }

    .extend-enter-active {
        animation: extend 0.75s;
    }
    .extend-leave-active {
        animation: extend 0.75s reverse;
    }
    @keyframes extend {
        0% {max-height: 0px;
            padding-top: 0px;}
        100% {max-height: 900px;;}
    } 
}

.dark {
    .workflows {
        .footer-card {
            background-color: $dark-secondary;
        }
        .pagination-cont {
            .pagination__item {
                background-color: $dark-primary !important;
                color: $light-text-color;
            }
            .pagination__navigation {
                background-color: $dark-tertiary !important;
                color: $light-text-color;
                .icon {
                    background-color: $dark-tertiary !important;
                    color: $light-text-color;
                }
            }
            .pagin-config {
                .per-page-label {
                    color: $light-text-color !important;
                }
                .per-page {
                    color: $dark-primary !important;
                    .input-group__selections__comma {
                        color: $light-text-color !important;
                    }
                    .icon {
                        color: $light-text-color !important;
                    }
                    .input-group__details::before {
                        background-color: $light-text-color !important;
                    }
                }
            }
            button {
                background-color: $dark-background;
                color: $light-text-color;
            }
        }
        .workflows-cont {
            border-color: $dark-border;
            .card {
                background-color: $dark-secondary !important;
                .card__text {
                    background-color: $dark-secondary !important;
                    .alert {
                        background-color: $dark-tertiary !important;
                        border-color: $dark-tertiary !important;
                        color: $light-text-color;
                    }
                }
            }
            .workflow {
                border-color: #707484;
                // border-color: $base-border-color;
                .workflow-layout {
                    background-color: $dark-wf;
                    color: $light-text-color;
                    button {
                        background-color: $dark-primary !important;
                        color: $light-text-color;
                    }
                }
            }
        }
    }
}