<transition name="component-fade" mode="out-in">
<div class="workflows" :class="{'fade': disabled}">

    <workflowHeading 
    @triggerRestartAll="restartAll"
    @triggerDeleteAll="deleteAll"
    :engineStatus="status"
    :restartingAll="restartingAll"
    :deletingAll="deletingAll">
    </workflowHeading>
    
    <v-layout class="workflows-cont" column>
        <v-card v-show="!workflows || workflows.length === 0">
            <v-card-text>
                <v-alert color="info" icon="info" value="true" >
                    There are no broken workflows
                </v-alert>
            </v-card-text>
        </v-card>
        <!-- <transition-group name="list" tag="div" mode="out-in"> -->
            <v-flex class="workflow" v-for="(workflow, i) in workflows" :key="workflow.id"
            :class="{
            'highlight-workflow-deleting': workflowsContext.get(workflow.id) && workflowsContext.get(workflow.id).deleting, 
            'highlight-workflow-layout': workflowsContext.get(workflow.id) && workflowsContext.get(workflow.id).reloading, 
            'fade': workflowsContext.get(workflow.id) && (workflowsContext.get(workflow.id).reloadButton || workflowsContext.get(workflow.id).deleteButton)
            }">
                <v-layout class="workflow-layout grey darken-3">
                    <v-flex class="number">
                        {{ (page - 1) * perPage + i + 1 }}
                    </v-flex>  
                    <v-flex class="data">
                        {{ workflow.dataAsString }}
                    </v-flex>  
                    <v-flex class="priority">
                        {{ workflow.priority }}
                    </v-flex>
                    <v-flex class="processorPoolId">
                        {{ workflow.processorPoolId }}
                    </v-flex>
                    <v-flex class="state">
                        {{ workflow.state }}
                    </v-flex>
                    <v-flex class="timeout">
                        {{ workflow.timeout }}
                    </v-flex>
                    <v-flex class="timestamps">
                        <div class="errorTS">
                            {{ workflow.errorData.errorTS | moment("HH:mm DD/MM/YYYY") }}
                        </div>
                        <div class="lastModTS">
                            {{ workflow.lastModTS | moment("HH:mm DD/MM/YYYY") }}
                        </div>
                        <div class="creationTS">
                            {{ workflow.creationTS | moment("HH:mm DD/MM/YYYY") }}
                        </div>
                    </v-flex>                  
                    <v-flex class="actions">
                        <v-tooltip top content-class="tooltip-text">
                            <v-btn dark icon
                                color="teal darken-3"
                                :loading="workflowsContext.get(workflow.id) && workflowsContext.get(workflow.id).reloadButton"
                                :disabled="workflowsContext.get(workflow.id) && (workflowsContext.get(workflow.id).reloadButton || workflowsContext.get(workflow.id).deleteButton || disabled)"
                                @click="restart(workflow.id)"
                                slot="activator"
                                >
                                <v-icon>cached</v-icon>
                            </v-btn>
                            <span>Restart Workflow</span>
                        </v-tooltip>
                        <v-tooltip top content-class="tooltip-text">
                            <v-btn dark icon
                                color="teal darken-3"
                                :loading="workflowsContext.get(workflow.id) && workflowsContext.get(workflow.id).deleteButton"
                                :disabled="workflowsContext.get(workflow.id) && (workflowsContext.get(workflow.id).reloadButton || workflowsContext.get(workflow.id).deleteButton || disabled)"                                
                                @click="deleteBroken(workflow.id)"
                                slot="activator">
                                <v-icon>delete</v-icon>
                            </v-btn>
                            <span>Delete Workflow</span>
                        </v-tooltip>
                        <v-tooltip top content-class="tooltip-text">
                            <v-btn dark icon
                                color="teal darken-3"
                                :disabled="workflowsContext.get(workflow.id) && (workflowsContext.get(workflow.id).reloadButton || workflowsContext.get(workflow.id).deleteButton || disabled)"                                                                
                                @click="showDetails(workflow)"
                                slot="activator">
                                <v-icon :class="{ 'close-details-icon': workflowsContext.get(workflow.id) && workflowsContext.get(workflow.id).open }">details</v-icon>
                            </v-btn>
                            <span>View Details</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
                <div class="details" v-show="workflowsContext.get(workflow.id) && workflowsContext.get(workflow.id).open">
                    <v-layout class="workflow-detail workflow-id">
                        <v-flex class="detail-label"> Workflow ID:</v-flex>
                        <v-flex  class="text"> {{workflow.id}} </v-flex>
                    </v-layout>
                    <v-layout class="workflow-detail class-info">
                        <v-flex class="detail-label">Class:</v-flex>
                        <v-flex class="text">
                                {{workflow.workflowClassInfo.alias}} ({{workflow.workflowClassInfo.classname}})
                        </v-flex>                    
                    </v-layout>
                    <v-layout class="workflow-detail version">
                        <v-flex class="detail-label">Version:</v-flex>
                        <v-flex class="text"> 
                            {{workflow.workflowClassInfo.majorVersion}}.{{workflow.workflowClassInfo.minorVersion}}.{{workflow.workflowClassInfo.patchLevel}}
                        </v-flex>
                    </v-layout>
                    <v-layout class="workflow-detail stacktrace">
                        <v-flex class="detail-label">Error Stack Trace:</v-flex>
                        <v-flex class="text">
                            <code>
                                {{ workflow.errorData.exceptionStackTrace }}
                            </code>
                        </v-flex>
                    </v-layout>
                </div>
         
            </v-flex>
        <!-- </transition-group> -->
    </v-layout>    

    <workflowFooter
    @updatePage="page = $event"
    @updatePerPage="perPage = $event"
    :page="page"
    :perPage="perPage"
    :totalPages="totalPages"
    :perPageItems="perPageItems">
    </workflowFooter>

</div>
</transition>