@import '../../../variables';

.wf-repo {
    width: 100%;
    max-width: 1650px;
    margin: auto;

    h2 {
        color: $dark-text-color;
    }

    .alert {
        margin: 20px;
    }

    .summary {
        .text {
            font-size: 1.2em;
            font-weight: 400;
            padding-top: 8px;
            padding-right: 20px;
            color: $dark-text-color;
        }
        .stopGrow {
            flex-grow: 0;
        }
        .sub-heading {
            width: 150px;
            min-width: 150px;
            max-width: 150px;
        }
    }

    .header {
        background-color: $light-primary;
        color: $light-text-color !important;
        margin-top: 16px;
        padding: 30px 16px 30px 16px;
        align-items: center;
        font-weight: 700;
        font-size: 1.1em;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .error {
        background-color: $light-secondary;
        .error-message {
            background-color: $light-primary;
        }
    }

    .workflows-cont {
        border-bottom: 1px solid #494f5d;
        overflow: hidden;
    }

    .workflow {
        border-top: 1px solid #494f5d;
    }

    .workflow-layout >* {
        background-color: $light-secondary;
        padding: 8px 16px;
        align-items: center;
        padding: 20px;
    }
    
    .number,
    .alias,
    .classname,
    .version,
    .actions {
        word-wrap: break-word;
        padding: 0 10px;
    }
    .number {
        width: 35px;
        min-width: 35px;
        max-width: 35px;
    }
    .version {
        width: 350px;
        min-width: 125px;
        max-width: 350px;
    }

    .classname {
        width: 550px;
        min-width: 240px;
        max-width: 550px;
    }
    .alias {
        width: 550px;
        min-width: 240px;
        max-width: 550px;
    }
    .actions {
        width: 110px;
        max-width: 110px;
        min-width: 110px;

        button {
            background-color: $light-primary !important;
            margin-left: 12px;
            border-radius: 20%;
        }

        .close-details-icon {
            transform: rotate(180deg);
        }

    }

    .workflow-info-layout {
        padding: 0px;

        .details {
            background-color: $light-tertiary;
            padding-left: 32px;
            padding-right: 32px;
            padding-bottom: 24px;
            padding-top: 0px;
            width: 100%;

            .workflow-detail {
                padding: 4px;
            }

            .detail-label {
                font-weight: 700;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 10px;
                min-width: 100px;
                max-width: 100px;
                margin-right: 75px;
            }

            .stacktrace .text {
                overflow-x: auto;
                padding-top: 20px;
                padding-left: 5px;
            }
        }
    }

    .custom-loader {
        animation: loader 1s infinite;
        display: flex;
    }

    .pagination-cont {
        align-items: center;
        .pagination__item {
            background-color: $light-primary !important;
        }
        .pagin-config {
            align-items: center;
            .per-page-label {
                font-size: 1.1em;
                font-weight: 700;
                padding-left: 16px;
                padding-bottom: 8px;
                color: $dark-text-color;
            }
            .per-page {
                width: 60px;
                color: $light-primary !important;
            }
        }
        .pagination li span {
            float: none;
        }
        button {
            background-color: $light-background;
        }
    }

    .footer-card {
        background-color: $light-secondary;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .list-item {
        display: inline-block;
        margin-right: 10px;
    }
    
    .extend-enter-active {
        animation: extend 0.75s;
    }
    .extend-leave-active {
        animation: extend 0.75s reverse;
    }
    @keyframes extend {
        0% {max-height: 0px;}
        100% {max-height: 1000px;}
    }

}

.dark {
    .wf-repo {
        h2 {
            color: $light-text-color;
        }
        .summary {
            .text {
                color: $light-text-color;
            }
        }
        .header {
            background-color: $dark-primary;
        }
        .error {
            background-color: $dark-secondary;
            .error-message {
                background-color: $dark-primary;
            }
        }
        .workflow-layout >* {
            background-color: $dark-secondary;
            .actions {
                button {
                    background-color: $dark-primary !important;
                    color: $light-text-color;
                }
            }
        }
        .workflow-info-layout {
            .details {
                background-color: $dark-tertiary; 
            }
        }
        .footer-card {
            background-color: $dark-secondary;
        }
        .pagination-cont {
            .pagination__item {
                background-color: $dark-primary !important;
            }
            .pagin-config {
                .per-page-label {
                    color: $light-text-color !important;
                }
                .per-page {
                    color: $dark-primary !important;
                }
            }
            button {
                background-color: $dark-background;
                color: $light-text-color;
            }
        }
    }
}
