<v-card flat class="engine-connection-config">
    <v-card-title primary-title>
        <div class="headline-custom"> 
            <!-- <v-icon> mdi-settings</v-icon>  -->
            <span>Configuration</span>
            <v-btn dark icon @click.stop="deleteSettings">
                <v-icon class="control-icon" v-html="'delete'"></v-icon>
            </v-btn>
        </div>
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-text-field class="config-input"
                label="Host"
                v-model="host"
                :rules="hostRules"
                required
            ></v-text-field>
            <v-text-field class="config-input"
                label="port"
                v-model="port"
                :rules="portRules"
                required
            ></v-text-field>
            <!-- <v-text-field class="config-input"
                label="Get data every 'x' seconds"
                v-model="updatePeriod"
                :rules="numberRules"
            ></v-text-field>
            <v-text-field class="config-input"
                label="not older than 'y' min"
                v-model="fetchPeriod"
                :rules="numberRules"
            ></v-text-field> -->
        
            <v-btn color="primary"
                @click="submit"
                :disabled="!valid"
            >
                submit
            </v-btn>
            <v-btn
                @click="$emit('hideSettings')"
            >
                Cancel
            </v-btn>
        </v-form>
    </v-card-title>
</v-card>