<v-card flat class="engine-connection-config">
    <div primary-title>
        <v-layout row class="header">
            <h2>Configuration</h2>
            <v-spacer></v-spacer>
            <v-btn dark icon v-if="type !== 'createNew'" @click.stop="deleteSettings">
                <v-icon class="control-icon" v-html="'delete'"></v-icon>
            </v-btn>
        </v-layout>
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-text-field class="config-input"
                label="Host"
                v-model="host"
                :rules="hostRules"
                required
            ></v-text-field>
            <v-text-field class="config-input"
                label="port"
                v-model="port"
                :rules="portRules"
                required
            ></v-text-field>
            <!-- <v-text-field class="config-input"
                label="Get data every 'x' seconds"
                v-model="updatePeriod"
                :rules="numberRules"
            ></v-text-field>
            <v-text-field class="config-input"
                label="not older than 'y' min"
                v-model="fetchPeriod"
                :rules="numberRules"
            ></v-text-field> -->
            <v-layout row class="button-container">
            <v-btn
                class="submit-btn"
                @click="submit"
                :disabled="!valid"
            >
                submit
            </v-btn>
            <v-btn
                @click="$emit('hideSettings')"
            >
                Cancel
            </v-btn>
            </v-layout>
        </v-form>
    </div>
</v-card>