@import '../../../../variables';

.engine-connection-config {
    border-radius: 0px;
    overflow: hidden;
    background-color: $base-dark-color !important;
    

    .submit-btn {
        background: #41a578;
    }

    .headline-custom {
        font-size: 1.3em;
        font-weight: 700;
    }

    .config-input {
        label {
            color: white !important;
        }
        .input-group__input {
            input {
                color: white !important;
            }
        }
        .input-group__details:before  {
            background-color: white !important;
        }
        .input-group__details:after  {
            color: white;
        }
    }

    form {
        padding-top: 8px;
        width: 100%;
    }
    
}
