@import '../../../variables';

.sidebar {
    padding: 0px;
    margin-top: 64px;
    
    .icon-container {
        width: 35px;
        max-width: 35px;
        min-width: 35px;
        padding-top: 12px;

    }
    .control-icon {
        color: $light-sidebar-icon !important;
    }
    
    .scroll-area {
        position: relative;
        margin: auto;
        width: 100%;
        height: 100%; 
        background: $light-sidebar !important;
        // background: #0b2732; /* Old browsers */
        // background: -moz-linear-gradient(left, #0b2732 0%, #123643 100%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(left, #0b2732 0%,#123643 100%); /* Chrome10-25,Safari5.1-6 */
        // background: linear-gradient(to right, #0b2732 0%,#123643 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        .connection {
            padding-top: 10px;
            padding-bottom: 25px;
        }

        .connection-title, .engines-title {
            font-size: 1.3em;
            font-weight: 700;
            padding: 10px 0px 0px 10px;
            color: $dark-text-color;
        }
        
        .engine-card {
            padding-top: 15px; 
        }
    }

    .scroll-footer {
        height: 75px;
    }

    .iconFlex {
        flex-grow: 0;
        max-width: 45px;
    }

    .navigation-drawer--mini-variant {
        .settings-btn {
            display: none;
        }
    }
    .navigation-drawer__border {
        background-color: $base-border-color !important;
    }

    .list {
        a {
            font-size: 1.2em;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: #afadad
            }
        }  
        .list__tile--active .list__tile__action:first-of-type .icon {
            color: #efefef;
        }
    }

    .close-details-icon {
        transform: rotate(180deg);
    }

    .extend-connection-header-enter-active {
        animation: extend-connection-header 1s;
    }
    .extend-connection-header-leave-active {
        animation: extend-connection-header 1s reverse;
    }
    @keyframes extend-connection-header {
        0% {height: 0px}
        100% {height: 48px}
    }
    
    .extend-config-enter-active {
        animation: extend-config 1s;
    }
    .extend-config-leave-active {
        animation: extend-config 1s reverse;
    }
    @keyframes extend-config {
        0% {height: 0px}
        100% {height: 258px}
    }

    .extend-group-links-enter-active {
        animation: extend-group-links .75s;
    }
    .extend-group-links-leave-active {
        animation: extend-group-links .75s reverse;
    }
    @keyframes extend-group-links {
        0% {height: 0px;}
        100% {height: 203px;}
    }

    .extend-group-enter-active {
        animation: extend-group 0.75s;
    }
    .extend-group-leave-active {
        animation: extend-group 0.75s reverse;
    }

    @keyframes extend-group {
        0% {max-height: 0px;
            padding-bottom: 0px;}
        100% {max-height: 500px;
            padding-bottom: 20px;}
    }

    .extend-engine-persistent-enter-active {
        animation: extend-engine-persistent 0.75s;
    }
    .extend-engine-persistent-leave-active {
        animation: extend-engine-persistent 0.75s reverse;
    }

    @keyframes extend-engine-persistent {
        0% {height: 0px;}
        100% {height: 360px;}
    }

    .extend-engine-tranzient-enter-active {
        animation: extend-engine-tranzient 0.75s;
    }
    .extend-engine-tranzient-leave-active {
        animation: extend-engine-tranzient 0.75s reverse;
    }

    @keyframes extend-engine-tranzient {
        0% {height: 0px;}
        100% {height: 313px;}
    }

    .extend-engine-limited-enter-active {
        animation: extend-engine-limited 0.75s;
    }
    .extend-engine-limited-leave-active {
        animation: extend-engine-limited 0.75s reverse;
    }

    @keyframes extend-engine-limited {
        0% {height: 0px;}
        100% {height: 198px;}
    }
    
}

.dark {
    .sidebar {
        .control-icon {
            color: $dark-sidebar-icon !important;
        }
        .scroll-area {
            background: $dark-sidebar !important;
            .connection-title, .engines-title {
                color: $dark-sidebar-icon;
            }
        }
    }
}