<v-navigation-drawer
    fixed
    clipped
    v-model="drawer" 
    class="sidebar secondary"
    mobile-break-point="1200" app>
    
    <!-- <transition name="fade" mode="out-in"> -->
        <config v-if="settingsShowed" @updateTarget="updateTarget" @hideSettings="settingsShowed = false"></config>
        <status v-for="engineStatus in $store.state.engineStatusList" key="engineStatus.id" :status="engineStatus" :connectionSettings="$store.state.connectionSettings" @showSettings="settingsShowed = true"></status>
    <!-- </transition> -->
</v-navigation-drawer>