
.sidebar {

    padding: 0px;
    margin-top: 64px;

    .scroll-area {
        position: relative;
        margin: auto;
        width: 100%;
        height: 100%; 

        .icon-container {
            width: 35px;
            max-width: 35px;
            padding-top: 12px;
        }

        .scroll-header {
            padding: 10px;
            h3 {
                font-size: 1.3em;
                padding-left: 30px;
                padding-top: 16px;
            }
            .connection-info {
                padding-top: 12px;
                font-size: 1.3em;
                font-weight: 700;
            }
        }

        .group{
            overflow: hidden;
            .group-header{
                border-top: 1px solid #323232;
                padding: 10px;
                h2 {
                    font-size: 1.3em;
                    padding-top: 10px;
                }
            }
            .status-container {
                padding: 10px;
            }
        }
    }

    .scroll-footer {
        height: 75px;
    }

    .close-details-icon {
        transform: rotate(180deg);
    }

    .link {
        padding: 20px 20px 20px 40px;
        width: 100%;
    }
    
    .linkTile {
        border-radius: 2px;
        margin-right: -40px;
        margin-left: -40px; 
    }

    .iconFlex {
        flex-grow: 0;
    }

    .navigation-drawer--mini-variant {
        .settings-btn {
            display: none;
        }
    }

    .list {
        a {
            font-size: 1.2em;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: #afadad
            }
        }  
        .list__tile--active .list__tile__action:first-of-type .icon {
            color: #efefef;
        }
    }
    
    .extend-config-enter-active {
        animation: extend-config 1s;
    }
    .extend-config-leave-active {
        animation: extend-config 1s reverse;
    }
    @keyframes extend-config {
        0% {height: 0px}
        100% {height: 419px}
    }

    .extend-group-enter-active {
        animation: extend-group 0.75s;
    }
    .extend-group-leave-active {
        animation: extend-group 0.75s reverse;
    }
    @keyframes extend-group {
        0% {max-height: 0px;
            padding-top:0px;
            padding-bottom: 0px;}
        100% {max-height: 500px;
            padding-top: 10px;
            padding-bottom: 10px;}
    }

    .extend-status-enter-active {
        animation: extend-status 0.75s;
    }
    .extend-status-leave-active {
        animation: extend-status 0.75s reverse;
    }
    @keyframes extend-status {
        0% {height: 0px;
            padding-top: 0px;}
        100% {height: 126px;
            padding-top: 10px;}
    }

    .extend-links-enter-active {
        animation: extend-links 0.75s;
    }
    .extend-links-leave-active {
        animation: extend-links 0.75s reverse;
    }
    @keyframes extend-links {
        0% {height: 0px;
            padding-top: 0px;
            padding-bottom: 0px;}
        100% {height: 208px;
            padding-top: 8px;
            padding-bottom: 8px;}
    }

    
}