<v-navigation-drawer
    fixed
    clipped
    v-model="drawer" 
    class="sidebar secondary"
    mobile-break-point="1570" app>
    <scroll class="scroll-area" :settings="{suppressScrollX: true, maxScrollbarLength: 600}">
        <div class="connection">
            <v-layout row>
                <v-flex class="connection-title">
                    Connections
                </v-flex>
                <v-spacer></v-spacer>
                <v-btn dark icon @click.stop="showSettings">
                    <v-icon v-html="'add'" class="active control-icon"></v-icon>
                </v-btn>
            </v-layout>
            <transition name="extend-create-config">
                <config v-if="settingsShowed" 
                    :connectionSettings="emptyConnectionSettings" 
                    @updateTarget="updateTarget(-1, $event)" 
                    @hideSettings="settingsShowed = false">
                </config>
            </transition>
            
            <connection-status v-for="(connection, index) in $store.state.connectionResults" :key="connection.settings.host + connection.settings.port"
                :connection="connection" 
                @updateTarget="updateTarget(index, $event)" 
                @deleteSettings="deleteSettings(index)">
            </connection-status>
        </div>
        <div class="engine-card">
            <div class="engines-title">
                Engines
            </div>
            <group class="engine-group"
                v-for="group in $store.getters.groupsOfEngines" key="group.name"
                :group=group
                :closing="closeAll">
            </group>
        </div>

        <div class="scroll-footer"></div>
    </scroll>
</v-navigation-drawer>