<div class="status">
    <v-card color="primary" class="white--text engine-status">
        <v-card-title primary-title>
            <v-layout>
                <v-flex>
                    <span v-if="status" class="line header">
                        <div class="engine-id">{{status.engineId}}</div>
                        <div class="type">{{status.type}}</div>
                    </span>
                    <span v-show="!status" class="line header not-connected">
                        <div class="engine-id">{{ connectionSettings.host + ':' + connectionSettings.port }}</div>
                        <div class="type">Unable to connect</div>
                    </span>
                </v-flex>
                <v-flex class="settings-btn-cont">
                    <v-btn dark icon @click="open = !open" class="settings-btn">
                        <v-icon :class="{ 'close-details-icon': open }">details</v-icon>
                    </v-btn>
                </v-flex>
            </v-layout>
            <transition name='fade'>
            <div v-show="open" v-if="status" class="engine-status-info">
                <div class="line wf-number">
                    <span class="status-title">
                        WF instances:
                    </span>
                    <span class="value">
                        {{status.instances}}
                    </span>
                </div>
                <div class="line broken">
                    <span class="status-title">
                        Broken WF instances:
                    </span>
                    <span class="value">
                        {{ status.brokenWFCount }}
                    </span>
                </div>
                <div class="line last-processing">
                    <span class="status-title">
                        Last activity:
                    </span>
                    <span class="value">
                        {{status.lastProcessing | moment("HH:mm DD/MM/YYYY")}}
                    </span>
                </div>
                <div class="line running-since">
                    <span class="status-title">
                        Started:
                    </span>
                    <span class="value">
                        {{status.runningSince | moment("HH:mm DD/MM/YYYY")}}
                    </span>
                </div>
                
            </div>
            </transition>
        </v-card-title>
    </v-card>
    <transition name='slide'>
    <v-list v-show="open" class="link-list">
        <v-list-tile value="true" v-for="link in links" :key="link.path">
            <v-list-tile-content class="linkTile">
                <router-link :to="link.path" active-class="back" class="link">
                    <v-layout row>
                        <v-flex class="iconFlex">
                            <v-list-tile-action>
                                <v-icon color="themeText">{{ link.icon }}</v-icon>
                            </v-list-tile-action>
                        </v-flex>
                        <v-flex>
                            <v-list-tile-title v-text="link.name" class="themeText--text"></v-list-tile-title>
                        </v-flex>
                    </v-layout>                  
                </router-link>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>
    </transition>
</div>