// .theme--dark .engine-status {
//     background-color: #505050;
//     border-bottom: 2px solid #807e7e;
// }

.engine-status {

    .status-icon-cont{
        width: 35px;
        max-width: 35px;
        
        .status-icon {
            margin-top: 6px;
            font-size: 22px;
        }
    }
    .settings-btn-cont {
        width: 35px;
        max-width: 35px;
        
        .settings-btn {
            margin-top: 0px;
        }
    }

    .card__title--primary {
        padding-bottom: 24px;
    }

    .engine-id {
        // font-weight: 700;
        font-size: 1.1em;
    }
    .type {
        color: #ccc;
        font-size: 0.9em;
    }
    
    .engine-status-info {
        padding: 16px 16px 0 16px;
        
        .line {
            padding: 4px 0;

            .value {
                padding-left: 8px;
                // font-size: 1.1em;
                font-weight: 700;
            }
        }
    }
}

.navigation-drawer--mini-variant {
    .engine-status {
        .engine-status-info,
        .headline .header {
            display: none;
        }
        .headline .icon {
            margin-left: 14px;
        }
    }
}