<div>

    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <router-link class="navbar-brand" :to="{ name: 'home.index' }">
            COPPER GUI
        </router-link>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <router-link :to="{ name: 'home.index' }" active-class="active" class="nav-item" tag="li">
                    <a class="nav-link">Home</a>
                </router-link>

                <router-link :to="{ name: 'account.index' }" active-class="active" class="nav-item" tag="li">
                    <a class="nav-link">Account</a>
                </router-link>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#" @click.prevent="logout" class="nav-link">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <slot></slot>
            </div>
        </div>
    </div>

</div>
