<div>
    <v-card flat class="footer-card">
        <v-card-text>
            <v-layout justify-center class="pagination-cont">
                    <v-flex class="text-xs-center">
                        <v-pagination :length="totalPages" v-model="localPage" :total-visible="10"></v-pagination>      
                    </v-flex>
                <v-flex xs3>
                    <v-layout justify-center class="pagin-config">
                        <v-flex>
                            <div class="per-page-label">Per page</div>
                        </v-flex>
                        
                        <v-flex>
                            <v-select
                            class="per-page"
                            :items="perPageItems"
                            v-model="localPerPage"
                            ></v-select>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</div>