.processor-pools {
    width: 100%;
    max-width: 1650px;
    margin: auto;

    .alert {
        margin: 20px;
    }

    .summary {
        .text {
            font-size: 1.2em;
            font-weight: 400;
            padding-top: 8px;
            padding-right: 20px;
            color: #efefef;
        }
        .stopGrow {
            flex-grow: 0;
        }
        .sub-heading {
            width: 225px;
            min-width: 225px;
            max-width: 225px;
        }
    }

    .header {
        margin-top: 16px;
        padding: 30px 16px 30px 16px;
        align-items: center;
        font-weight: 700;
        font-size: 1.1em;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .workflow {
        border-top: 1px solid;
    }

    .workflow-layout >* {
        padding: 8px 16px;
        align-items: center;
        padding: 20px;
    }

    .id,
    .state,
    .priority,
    .actions {
        word-wrap: break-word;
        // width: 120px;
        // min-width: 120px;
        // max-width: 120px;
        padding: 0 10px;
    }
    .id {
        width: 125px;
        min-width: 125px;
        max-width: 125px;
    }
    .state {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
    }

    .priority {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
    }
    
    .actions {
        width: 110px;
        max-width: 110px;
        min-width: 110px;

        button {
            margin-left: 32px;
            border-radius: 20%;
        }

        .close-details-icon {
            transform: rotate(180deg);
        }

    }

    .id-state-container {
        max-width: 200px;
        min-width: 200px;
    }
    .priority-queue-container {
        max-width: 200px;
        min-width: 200px;
    }
    .upper-lower-container {
        max-width: 200px;
        min-width: 200px;
    }
    .number-active-container {
        max-width: 250px;
        min-width: 250px;
    }

    .workflow-info-layout {

        padding: 0px;

        .code {
            padding: 30px;
        }

        .details {
            // background: #4e4e4e;
            padding-left: 32px;
            padding-right: 32px;
            padding-bottom: 24px;
            padding-top: 0px;
            width: 100%;

            .workflow-detail {
                padding: 4px;
            }

            .detail-label {
                font-weight: 700;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 10px;
                min-width: 100px;
                max-width: 100px;
                margin-right: 75px;
            }

            .stacktrace .text {
                overflow-x: auto;
                padding-top: 20px;
                padding-left: 5px;
            }
        }
    }

    .pool-card-container {
        width: 100%;
        flex-wrap: wrap;
        .pool-card {
            max-width: 990px;
            min-width: 990px;
            margin: 20px;
            border: 1px solid black;
            .card-label {
                font-size: 1.1em;
                padding: 10px;
                flex-grow: 0;
                height: 340px;
                width:185px;
            }
            .card-info {
                font-size: 1.1em;
                padding: 10px;
                flex-grow: 0;
                height: 340px;
                width: 100px;
            }
            .card-graph {
                flex-grow: 0;
                padding: 10px;
            }
            .card-button-container {
                height: 340px;
                padding-top: 35px;
                padding-right: 15px;
                button {
                    margin-top: 20px;
                }
            }
        }
    }

    .custom-loader {
        animation: loader 1s infinite;
        display: flex;
    }

    .pagination-cont {
        align-items: center;
        .pagin-config {
            align-items: center;
            .per-page-label {
                font-size: 1.1em;
                font-weight: 700;
                padding-left: 16px;
                padding-bottom: 8px;
            }
            .per-page {
                width: 60px;
            }
        }


        .pagination li span {
            float: none;
            // color: #ffffff;
            // background-color: #424242;
            // border: 1px solid #424242;
        }
    }

    .footer-card {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .list-item {
        display: inline-block;
        margin-right: 10px;
    }
    .list-enter-active, .list-leave-active {
        transition: all 1s;
    }
    .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
        opacity: 0;
        transform: translateY(30px);
    }
    .list-move {
        transition: transform 1s;
    }

}