@import '../../../variables';

.processor-pools {
    width: 100%;
    max-width: 1650px;
    min-width: 1200px;
    margin: auto;

    h2 {
        color: $dark-text-color;
    }

    .summary {
        .text {
            font-size: 1.2em;
            font-weight: 400;
            padding-top: 8px;
            padding-right: 20px;
            color: $dark-text-color;
            .sub-heading {
                width: 225px;
                min-width: 225px;
                max-width: 225px;
            }
        }
        .stopGrow {
            flex-grow: 0;
        }
    }

    .pool-card-container {
        width: 100%;
        flex-wrap: wrap;
        .pool-card {
            border-radius: 2px;
            max-width: 740px;
            min-width: 740px;
            margin: 20px;
            border: 1px solid;
            border-color: $light-border;
            background-color: $light-wf;
            color: $dark-text-color;
            .pool-content {
                font-size: 1.1em;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 10px;
                padding-right: 0px;
                margin-right: -10px;                
            }
            .label {
                max-width: 160px;
                min-width: 160px;
                .flex {
                    text-align: right;
                }
            }
            .info {
                max-width: 160px;
                min-width: 160px;
                padding-left: 10px;
                max-height: 45px;
                overflow: hidden;
            }
            .card-graph {
                flex-grow: 0;
                margin-top: 35px;
            }
            .card-button-container {
                height: 340px;
                padding-top: 15px;
                padding-right: 15px;
                button {
                    margin-top: 30px;
                    width: 150px;
                    background-color: $light-primary;
                    color: $light-text-color;
                }
            }
        }
    }
}

.dark {
    .processor-pools {
        h2 {
            color: $light-text-color;
        }
        .summary {
            .text {
            color: $light-text-color;                
            }
        }

        .pool-card-container {
            .pool-card {
                border-color: $dark-border;
                background-color: $dark-wf;
                color: $light-text-color;
            }
            .card-button-container {
                button {
                    background-color: $dark-primary;
                    color: $light-text-color;
                }
            }
        }
    }
}