@import '../../../../variables';

.engine-group {
    overflow: hidden;
    // border-bottom: 1px solid #79797b;
    @include sidebar-border-bottom;
    
    .group-icon {
        color: #7397dc;
    }

    &:last-child {
        border-bottom: none; 
    }
    
    .group-header{
        padding: 10px 0px 10px 10px;
        
        h2 {
            color: #eaeaea;
            font-size: 1.3em;
            word-wrap: break-word;
            max-width: 200px;
        }
        .engine-count {
            flex-grow: 0;
            padding-right: 10px;
        }

        .engine-sub-details {
            color: #eaeaea99 !important;
        }

        .summary {
            padding: 0px;
            font-size: 1em;
            min-width: 85px;
            max-width: 85px;
            cursor: default;
        }
    }

    .general-info {
        overflow: hidden;
    }

    .status-summary {
        overflow: hidden;
        padding-left: 10px;
        .group-line {
            padding-left: 16px;
        }
        .line {
            padding: 4px 0;
        }
        .value {
            padding-left: 8px;
            font-weight: 700;
        }
    }
    
    .general-link-list {
        overflow: hidden;
    }

    .link-tile-container {
        margin-top: 1px;
        padding: 0 0 0 10px;

        &:hover {
            background: #44bb85;

            .list__tile {
                background: #353b4a;
            }
        }
        .list__tile {
            padding: 0;
            -webkit-transition: none; 
            transition: none;
        }
        .link-tile {
            .link {
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 5px;
                width: 100%;
            }
        }
    }
    .group-tile {
        .theme--light:hover {        
            background: #2381d5;
        }
        .theme--dark:hover {        
            background: #777777;
        }
    }
    .engine-tile {
        .theme--light:hover {        
            background: #00c3ff;
        }
        .theme--dark:hover {        
            background: #818181;
        }
    }

    .multi-status {
        padding: 0 10px 10px;

        .engine-status-card {
            border-bottom: 1px solid #262a34;
            background: #2f343d;
            
            &:last-child {
                border-bottom: none;
            }
        }
    }
}