@import '../../../../variables';

.workflow-details {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 10px;
    width: 100%;
    background-color: $light-tertiary;
    color: $dark-text-color;
    .workflow-detail {
        padding: 4px;
        .detail-label {
            font-weight: 700;
            width: 200px;
            min-width: 200px;
            max-width: 200px;
        }
    }
    .workflow-detail-buttons {
        .v-btn {
            background-color: $light-primary !important;
            color: $light-text-color;
            border-radius: 5%;
            width: 185px;
            height: 36px;
            margin-top: -40px;
        }
    }
    .stacktrace .text {
        border-radius: 3px;
        code {
            border-radius: 3px 3px 0px 0px;
            padding: 10px 30px; 
            min-width: 100%;
            word-break: break-all;
        }
        code::before {
            display: none;
        }
    }
    .workflow-id,
    .class-info,
    .version {
        max-width: 500px;
    }

    .stopGrow {
        flex-grow: 0;
    }
}

.dark {
    .workflow-details {
        background-color: $dark-tertiary;
        color: $light-text-color;
        .workflow-detail {
            button {
                background-color: $dark-primary !important;
                color: $light-text-color;
            }
        } 
    }
}