<div :class="classNames">
  <div class="card-header" v-if="hasSlot('heading')">
    <slot name="heading"></slot>
  </div>
  <div class="card-block">
    <div class="card-title" v-if="hasSlot('title')">
      <slot name="title"></slot>
    </div>
    <div class="card-subtitle" v-if="hasSlot('subtitle')">
      <slot name="subtitle"></slot>
    </div>
    <div class="card-text" v-if="hasSlot('body')">
      <slot name="body"></slot>
    </div>
  </div>
  <div class="card-footer" v-if="hasSlot('footer')">
    <slot name="footer"></slot>
  </div>
</div>
