@import '../../../../variables';

.workflow-header {
    h2 {
        color: $dark-text-color;
    }
    .summary {
        align-items: center;
        .text {
            font-size: 1.2em;
            font-weight: 400;
            color: #efefef;
            max-width: 430px;
            min-width: 292px;
            color: $dark-text-color;
        }
        .heading-buttons {
            padding-right: 10px;
            min-width: 620px;
            .only-filter {
                margin-left: 415px;
            }
            button {
                background-color: $light-primary !important;
                color: $light-text-color;
            }
        }
    }
    .overflow-hidden {
        overflow: hidden;
    }
    .filter-menu,
    .chip-menu {
        flex-wrap: wrap; 
        border-radius: 2px;
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        min-width: 986px;
    }
    .filter-menu {  
        flex-wrap: nowrap;
        background-color: $light-secondary;
        h3 {
            align-items: center;
            padding-left: 35px;
            padding-right: 0px;
            color: $dark-text-color;
        }
        .filter-header {
            min-height: 65px;
            align-items: center;
            padding-left: 15px;
            padding-right: 0px;
            .hide-state-select {
                opacity: 0;
            }
            label {
                color: $dark-text-color !important;
            }
        }
        .filter-layout {
            padding-left: 10px;
            padding-right: 10px;

            .time-field-container {
                height: 65px;
                padding-left: 5px;
                padding-right: 5px;
                .time-field {
                    position: relative;
                    width: 190px;
                    max-width: 190px;
                    min-width: 190px;
                    padding: 5px;
                    .icon {
                        color: $light-primary !important;
                    }
                }
            }
            .select-container {
                max-width: 380px;
                min-width:380px;
                padding-top: 0px;
                padding-bottom: 3px;
                padding-left: 10px;
                padding-right: 10px;
                .select {
                    max-width: 380px;
                    .icon {
                        color: $light-primary !important;
                    }
                }
            }
            .date-time-picker {
                position: absolute;
                padding-top: 7px;
                padding-left: 5px;
                padding-right: 5px;
                width: 50px;
                height: 100%;
                bottom: -7px;
                left: 142px;
                button, input, select, textarea {
                    background-color: transparent;
                    height: 75%;
                    width: 100%;
                    opacity: 0;
                }
            }

            .date-click-decorator{
                cursor: pointer;
            }
            .input-group {
                color: $light-primary !important;
                .input-group__input {
                    input {
                        color: $dark-text-color !important;
                        caret-color: $light-primary !important;
                    }
                }
                .input-group__details {
                    min-height: 0px !important;
                    .input-group__hint {
                        color: $dark-text-color !important;
                    }
                }
                .input-group__details::before {
                    background-color: $light-primary;
                }
            }
            .input-group:hover {
                .input-group__details::before {
                    background-color: $light-tertiary !important;
                }
            }
            .input-group--focused {
                color: $light-primary !important;
                .input-group__details::before {
                    background-color: $light-primary;
                }
                .input-group__details::after {
                    background-color: $light-primary;
                }
            }
            button {
                height: 36px;
                width: 150px;
                min-width: 150px;
                margin-bottom: -15px;
                background-color: $light-primary !important;
                color: $light-text-color;
            }
        }
        
    }
    .chip-menu {
        padding: 15px;
        overflow: hidden;
        flex-wrap: nowrap;
        background-color: $light-secondary;
        .filter-chip-container {
            align-items: center;
            flex-wrap: wrap;
            h3 {
                color: $dark-text-color;
                min-width: 85px;
            }
            .filter-chip-flex {
                padding: 5px;
                .filter-chip {
                    background-color: $light-tertiary !important;
                    color: $dark-text-color;
                    .inner-chip { 
                        background-color: $light-primary;
                        color: $light-text-color;
                        margin-left: -7px !important;
                    }
                    .chip__content {
                        padding: 5px;
                    }
                }
            }
        }
        button {
            margin-right: 5px;
            background-color: $light-primary !important;
            color: $light-text-color;
        }
    }
    .row-info {
        overflow: hidden;
        margin-top: 16px;
        padding: 5px 16px 5px 16px;
        align-items: center;
        font-weight: 700;
        font-size: 1.1em;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: $light-primary !important;
        color: $light-text-color !important;
    }

    .extend-filter-enter-active {
        animation: extend-filter 0.5s;
    }
    .extend-filter-leave-active {
        animation: extend-filter 0.5s reverse;
    }
    @keyframes extend-filter {
        0% {height: 0px;
            padding-top: 0px;
            padding-bottom: 0px;}
        100% {height: 194px;
            padding-top: 20px;
            padding-bottom: 20px;}
    }
    .extend-chip-enter-active {
        animation: extend-chip 0.75s;
    }
    .extend-chip-leave-active {
        animation: extend-chip 0.75s reverse;
    }
    @keyframes extend-chip {
        0% {max-height: 0px;
            padding-top: 0px;
            padding-bottom: 0px;}
        100% {max-height: 129px;
            padding-top: 15px;
            padding-bottom: 15px;}
    }
}

.dark {
    .workflow-header {
        h2 {
            color: $light-text-color;
        }
        .summary {
            .text {
                color: $light-text-color; 
            }
        }
        .heading-buttons {
            button {
                background-color: $dark-primary !important;
                color: $light-text-color; 
            }
        }
        .filter-menu {
            background-color: $dark-secondary;
            h3 {
                color: $light-text-color;  
            }
            .filter-header {
                label {
                    color: $light-text-color !important;
                }
            }
            .filter-layout {
                .time-field-container {
                    .time-field {
                        .icon {
                            color: $dark-primary !important;
                        }
                    }
                }
            }
            .select-container {
                .select {
                    .icon {
                        color: $dark-primary !important;
                    }
                }
            }
            .input-group {
                color: $dark-primary !important;
                .input-group__input {
                    input {
                        color: $light-text-color !important;
                        caret-color: $dark-primary !important;
                    }
                }
                .input-group__details {
                    .input-group__hint {
                        color: $light-text-color !important;
                    }
                }
                .input-group__details::before {
                    background-color: $dark-primary;
                }
            }
            .input-group--focused {
                color: $light-primary !important;
                .input-group__details::before {
                    background-color: $dark-primary;
                }
                .input-group__details::after {
                    background-color: $dark-primary;
                }
            }
            .input-group:hover {
                .input-group__details::before {
                    background-color: $dark-tertiary !important;
                }
            }
            button {
                background-color: $dark-primary !important;
                color: $light-text-color;
            }
        }
        .chip-menu {
            background-color: $dark-secondary;
            .filter-chip-container {
                h3 {
                    color: $light-text-color;
                    min-width: 85px;
                }
                .filter-chip-flex {
                    .filter-chip {
                    background-color: $dark-tertiary !important;
                        color: $light-text-color;
                        .inner-chip { 
                            background-color: $dark-primary;
                            color: $light-text-color;
                        }
                    }
                }
            }
            button {
                background-color: $dark-primary !important;
                color: $light-text-color;
            }
        }
        .row-info {
            background-color: $dark-primary !important;
            color: $light-text-color !important;
        }
    }
}