<div>
    <h2 class="themeText--text">Broken Workflows</h2>
    <v-layout class="summary">
        <v-flex class="text themeText--text stopGrow">
            Total number of broken workflows: {{ engineStatus ? engineStatus.brokenWFCount : 0}}
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex class="stopGrow">
            <v-btn dark
                color="primary"
                :loading="restartingAll"
                :disabled="restartingAll || deletingAll"
                @click="sendRestartAll"
                >
                <v-icon left>cached</v-icon>
                Restart All
                <span slot="loader" class="custom-loader">
                    <v-icon light>cached</v-icon>
                </span>
            </v-btn>
            <v-btn dark
                color="primary"
                :loading="deletingAll"
                :disabled="deletingAll || restartingAll"
                @click="sendDeleteAll">
                <v-icon left>delete</v-icon>
                Delete All
                <span slot="loader" class="custom-loader">
                    <v-icon light>cached</v-icon>
                </span>
            </v-btn>
            <v-btn dark
            class="filter-button"
            color="primary"
            :loading="deletingAll"
            :disabled="deletingAll || restartingAll"
            @click="triggerFilterMenu">
            <v-icon left>mdi-filter</v-icon>
            Filter
            <span slot="loader" class="custom-loader">
                <v-icon light>cached</v-icon>
            </span>
            </v-btn>
        </v-flex>
    </v-layout>

    <v-layout v-show="openFilterMenu" class="filter-menu secondary" column>
        <v-layout row class="filter-header">
        <h3 class="themeText--text">Filter By:</h3>        
        </v-layout>
        <v-layout class="filter-layout" column>
            <v-layout row class="filter-header">
                <v-flex class="select-container stopGrow">
                    <v-select class="select"
                    single-line
                    label="Include States:"
                    :items="possibleStates"
                    v-model="states"
                    multiple>
                    </v-select>
                </v-flex>
                <v-layout class="time-field-container">
                    <v-flex class="stopGrow time-field">
                        <v-text-field class="date-time-text"
                        :value="createTimeFrom"
                        label="Created - From"
                        mask="####-##-## ##:##"
                        readonly>
                        </v-text-field>
                        <datetime type="datetime" class="date-time-picker" value-zone="local" v-model="createTimeFromInput"></datetime>
                    </v-flex>
                    <v-flex class="stopGrow time-field">
                        <v-text-field
                        :value="createTimeTo"
                        label="To"
                        mask="####-##-## ##:##"
                        readonly>
                        </v-text-field>
                        <datetime type="datetime" class="date-time-picker" value-zone="local" v-model="createTimeToInput"></datetime>
                    </v-flex>
                </v-layout>
                <v-btn class="filter-action" depressed color="primary" @click="clearFilter"><v-icon left>mdi-cancel</v-icon>Clear</v-btn>         
            </v-layout>
            <v-layout row class="filter-header">
                <v-flex class="select-container stopGrow">
                    <v-select class="select"
                    single-line
                    label="Include Classname:"
                    :items="possibleClassnames"
                    v-model="classNames">
                    </v-select>
                </v-flex>       
                <v-layout class="time-field-container">
                    <v-flex class="stopGrow time-field">
                        <v-text-field
                        :value="modTimeFrom"
                        label="Modified - From"
                        mask="####-##-## ##:##"
                        readonly>
                        </v-text-field>
                        <datetime type="datetime" class="date-time-picker" value-zone="local" v-model="modTimeFromInput"></datetime>
                    </v-flex>
                    <v-flex class="stopGrow time-field">
                        <v-text-field
                        :value="modTimeTo"
                        label="To"
                        mask="####-##-## ##:##"
                        readonly>
                        </v-text-field>
                        <datetime type="datetime" class="date-time-picker" value-zone="local" v-model="modTimeToInput"></datetime>
                    </v-flex>
                </v-layout>
                <v-btn class="filter-action" depressed color="primary" @click="applyFilter"><v-icon left>mdi-check</v-icon>Apply</v-btn>
            </v-layout>
        </v-layout>      
    </v-layout>

    <v-layout v-show="filterApplied && !openFilterMenu" class="filter-menu secondary" row>
        <v-flex v-for="filter in currentFilters" :key="filter.id" class="stopGrow filter-chip-flex">
            <v-chip color="primary textOnColor--text" class="filter-chip"><v-chip color="accent textOnColor--text" class="inner-chip">{{ filter[0] }}</v-chip>{{ filter[1] }}</v-chip>
        </v-flex>
    </v-layout>

    <v-layout class="header primary textOnColor--text">
        <v-flex class="number">
            #
        </v-flex>  
        <v-flex class="data">
            Data
        </v-flex>  
        <v-flex class="priority">
            Priority
        </v-flex>
        <v-flex class="processorPoolId">
            Processor Pool
        </v-flex>
        <v-flex class="state">
            State
        </v-flex>
        <v-flex class="timeout">
            Timeout
        </v-flex>
        <v-flex class="timestamps">
            <div class="errorTS">
                Error Time
            </div>
            <div class="lastModTS">
                Last Modification
            </div>
            <div class="creationTS">
                Creation
            </div>            
        </v-flex>
        <v-flex class="actions">
            Actions
        </v-flex>
    </v-layout>
</div>