<div class="workflow-header">
    <h2>{{ (wfType==='broken') ? 'Broken' : 'Waiting' }} Workflows</h2>
    <v-layout class="summary">
        <v-flex class="text stopGrow">
            Total number of {{ filterApplied ? 'filtered ' : '' }}{{ wfType }} workflows: {{ engineStatus ? wfCount : 0}}
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex class="stopGrow heading-buttons">
            <v-btn dark
                v-if="(wfType === 'broken')"
                class="longButton"
                :loading="restartingAll"
                :disabled="restartingAll || deletingAll"
                @click="sendRestartAll"
                >
                <v-icon left>cached</v-icon>
                Restart {{ filterApplied ? 'Filtered' : 'All' }}
                <span slot="loader" class="custom-loader">
                    <v-icon light>cached</v-icon>
                </span>
            </v-btn>
            <v-btn dark
                v-if="(wfType === 'broken')"
                class="longButton"
                :loading="deletingAll"
                :disabled="deletingAll || restartingAll"
                @click="dialogDeleteOpen = true">
                <v-icon left>delete</v-icon>
                Delete {{ filterApplied ? 'Filtered' : 'All' }}
                <span slot="loader" class="custom-loader">
                    <v-icon light>cached</v-icon>
                </span>
            </v-btn>
            <v-btn dark
                class="longButton"
                :class="{ 'only-filter' :  (wfType === 'waiting') }"
                :loading="deletingAll"
                :disabled="deletingAll || restartingAll"
                @click="triggerFilterMenu">
                <v-icon left>mdi-filter</v-icon>
                Filter
                <span slot="loader" class="custom-loader">
                    <v-icon light>cached</v-icon>
                </span>
            </v-btn>
        </v-flex>
    </v-layout>

    <transition name="extend-filter">
    <v-layout v-show="openFilterMenu" class="filter-menu" :class="{ 'overflow-hidden' :  hideOverflow}" column>
        <v-flex class="filter-label">
        <h3>Filter By:</h3>        
        </v-flex>
        <v-layout class="filter-layout" column>
            <v-layout row class="filter-header">
                <v-flex class="select-container stopGrow">
                    <v-select class="select"
                    label="Include Classname:"
                    :items="possibleClassnames"
                    v-model="classNames">
                    </v-select>
                </v-flex>
                <v-layout class="time-field-container">
                    <v-flex class="stopGrow time-field" >
                        <v-text-field
                        v-model="createTime.fromType"
                        label="Created - From"
                        mask="####-##-## ##:##"
                        hint="YYYY-MM-DD HH:MM"
                        :rules="[dateCheck]"
                        append-icon="event">
                        </v-text-field>
                        <datetime type="datetime" class="date-time-picker" value-zone="local" v-model="createTime.fromSelect" ref="createFrom"></datetime>
                        <div class="date-click-decorator date-time-picker" @click="clickedFromDate('createTime', 'createFrom')"></div>
                    </v-flex>
                    <v-flex class="stopGrow time-field">
                        <v-text-field
                        v-model="createTime.toType"
                        label="To"
                        mask="####-##-## ##:##"
                        hint="YYYY-MM-DD HH:MM"
                        :rules="[dateCheck]"
                        append-icon="event">
                    </v-text-field>
                    <datetime type="datetime" class="date-time-picker" value-zone="local" v-model="createTime.toSelect" ref="createTo"></datetime>
                    <div class="date-click-decorator date-time-picker" @click="clickedToDate('createTime', 'createTo')"></div>
                    </v-flex>
                </v-layout>
                <v-btn depressed @click="clearFilter" class="longButton"><v-icon left>mdi-cancel</v-icon>Clear</v-btn>         
            </v-layout>
            <v-layout row class="filter-header">
                <v-flex class="select-container stopGrow" :class="{ 'hide-state-select' :(wfType === 'waiting')}">
                    <v-select class="select"
                    label="Include States:"
                    :items="possibleStates"
                    :disabled="(wfType === 'waiting')"
                    v-model="states"
                    multiple>
                    </v-select>
                </v-flex>    
                <v-layout class="time-field-container">
                    <v-flex class="stopGrow time-field">
                        <v-text-field
                        v-model="modTime.fromType"
                        label="Modified - From"
                        mask="####-##-## ##:##"
                        hint="YYYY-MM-DD HH:MM"
                        :rules="[dateCheck]"
                        append-icon="event">
                        </v-text-field>
                        <datetime type="datetime" class="date-time-picker" value-zone="local" v-model="modTime.fromSelect" ref="modFrom"></datetime>
                        <div class="date-click-decorator date-time-picker" @click="clickedFromDate('modTime', 'modFrom')"></div>
                    </v-flex>
                    <v-flex class="stopGrow time-field">
                        <v-text-field
                        v-model="modTime.toType"
                        label="To"
                        mask="####-##-## ##:##"
                        hint="YYYY-MM-DD HH:MM"
                        :rules="[dateCheck]"
                        append-icon="event">
                        </v-text-field>
                        <datetime type="datetime" class="date-time-picker" value-zone="local" v-model="modTime.toSelect" ref="modTo"></datetime>
                        <div class="date-click-decorator date-time-picker" @click="clickedToDate('modTime', 'modTo')"></div>
                    </v-flex>
                </v-layout>
                <v-btn depressed @click="applyFilter" class="longButton"><v-icon left>mdi-check</v-icon>Apply</v-btn>
            </v-layout>
        </v-layout>      
    </v-layout>
    </transition>

    <transition name="extend-chip">
    <v-layout v-show="filterApplied && !openFilterMenu" class="chip-menu" row>
        <v-layout row class="filter-chip-container">
            <v-flex class="stopGrow">
                <h3>Filtered By:</h3>
            </v-flex>
            <v-flex v-for="filter in currentFilters" :key="filter.id" class="stopGrow filter-chip-flex">
                <v-chip class="filter-chip">
                    <v-chip class="inner-chip">
                        {{ filter[0] }}
                    </v-chip>
                    {{ filter[1] }}
                </v-chip>
            </v-flex>
        </v-layout>
        <v-flex class="stopGrow">
            <v-btn dark
            depressed
            color="primary"
            class="longButton"
            @click="clearChips">
            <v-icon left>mdi-close</v-icon>
            Clear
            </v-btn>
        </v-flex>
    </v-layout>
    </transition>

    <v-layout class="row-info" :class="{ 'correct-height' : (wfType === 'waiting') }">
        <v-flex class="number">
            #
        </v-flex>  
        <v-flex class="data">
            Data
        </v-flex>  
        <v-flex class="engineId">
            Engine
        </v-flex>
        <v-flex class="processorPoolId">
            Processor Pool
        </v-flex>
        <v-flex class="state" v-if="(wfType === 'broken')">
            State
        </v-flex>
        <v-flex class="priority">
            Priority
        </v-flex>
        <v-flex class="timeout" v-if="(wfType === 'broken')">
            Timeout
        </v-flex>
        <v-flex class="timestamps">
            <div class="errorTS" v-if="(wfType === 'broken')">
                Error Time
            </div>
            <div class="creationTS">
                Creation
            </div> 
            <div class="lastModTS">
                Last Modification
            </div>   
        </v-flex>
        <v-flex :class="{ 'single-button' : (wfType === 'waiting'), 'actions' : (wfType === 'broken')}">
                Actions
        </v-flex>
    </v-layout>

    <v-dialog v-model="dialogDeleteOpen" scrollable max-width="500" position="absolute" persistent>
        <v-card>
            <v-card-title position="absolute" class="dialog-title">
                <h2> Are you sure you want to delete {{ wfCount }} workflow(s) </h2>                
            </v-card-title>
            <v-divider></v-divider>
            <v-card-actions>
                <v-layout row>
                    <v-spacer></v-spacer>
                    <v-btn depressed @click="sendDeleteAll">Yes</v-btn>          
                    <v-btn depressed @click="dialogDeleteOpen = false">No</v-btn>
                </v-layout>
            </v-card-actions>
        </v-card>
    </v-dialog>

</div>