@import '../../../variables';

.cookie-policy {
    max-width: 1600px;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 15px 30px;
    color: $light-text-color;
    opacity: 0.8;
    background: #555555;    
    border: 1px solid;
    border-color: $light-border;
    
    .title {
        padding: 5px 0;
    }

    .policy-btn {
        text-decoration: underline;
        cursor: pointer;
        font-weight: 700;
    }

    .btn-cont {
        width: 150px;
        max-width: 150px;

        button {
            background-color: $light-primary !important;
            color: $light-text-color !important;
        }
    }
    
    .full-info {
        padding-top: 15px;    
    }
}

.dark {
    .cookie-policy {
        background: #333;        
        border: 1px solid #43474e;
        .btn-cont {
            button {
                background-color: $dark-primary !important;
                color: $light-text-color !important;
            }
        }
    }
}