@import '../../../variables';

.statistics {
    width: 100%;

    h2 {
        color: $dark-text-color;
        padding-bottom: 15px;
    }

    .state-filter {
        padding: 30px 0 0 40px;
        .input-group {
            color: $light-primary !important;
            label {
                color: $dark-text-color;
            }
        }
    }

    .chart {
        // background: #303030;
        margin: 0  auto 30px auto;
        padding: 15px;

        h3 {
            color: $dark-text-color;
        }

        .title {
            padding-bottom: 15px;
            text-align: center; 
        }
    }
}

.dark {
    .statistics {
        h2 {
            color: $light-text-color;
        }
    }
    .chart {
        h3 {
            color: $light-text-color;
        }
    }
    .state-filter {
        .input-group {
            color: $dark-primary !important;
            label {
                color: $light-text-color;
            }
        }
    }
}