<div class="statistics">
    <h2>Workflows Statistics</h2>

    <v-layout class="state-filter">
        <v-flex><v-switch :label="'Raw'" v-model="states.raw"></v-switch></v-flex>            
        <v-flex><v-switch :label="'Waiting'" v-model="states.waiting"></v-switch></v-flex>            
        <v-flex><v-switch :label="'Finished'" v-model="states.finished"></v-switch></v-flex>            
        <v-flex><v-switch :label="'Dequeued'" v-model="states.dequeued"></v-switch></v-flex>            
        <v-flex><v-switch :label="'ERROR'" v-model="states.error"></v-switch></v-flex>            
        <v-flex><v-switch :label="'Invalid'" v-model="states.invalid"></v-switch></v-flex>    
    </v-layout>

    <!-- <h3 class="title">Every {{$store.state.connectionSettings.updatePeriod}} seconds</h3> -->
    <!-- <div class="chart">
        <h3 class="title">Every 2 seconds</h3>
        <line-chart :chartData="secondsChartData" :width="800" :height="300" :options="chartOptions"></line-chart>
    </div>
    <div class="chart">
        <h3 class="title"> Every minute</h3>
        <line-chart :chartData="minutesChartData" :width="800" :height="300" :options="chartOptions"></line-chart>
    </div>
    <div class="chart">
        <h3 class="title">Evey 15 minutes </h3>
        <line-chart :chartData="quoterMinChartData" :width="800" :height="300" :options="chartOptions"></line-chart>
    </div> -->

    <!-- <GChart type="LineChart" :data="chartData"></GChart> -->
    <!-- :packages="['corechart', 'table', 'map']" -->
    <GChart
    type="LineChart"
    :data="chartData"
    :options="chartOptions"
  />
    <!-- <area-chart :data="chartData" :curve="false" :library="options" ></area-chart> -->
    <!-- <area-chart :data="chartData" :curve="false" :library="{backgroundColor: '#eee'}" ></area-chart> -->
</div>