@import '../../variables';

.login {    
    margin: auto;

    h2 {
        color: $light-text-color !important;
    }

    .alert {
        margin: 0;
    }

    .login-header {
        background-color: $light-primary;
    }
    
    .login-form {
        background: $light-text-color;
        color: #333;
        width: 400px;
        padding: 20px;
        label {
            color: $dark-text-color;
        }
        button {
            background-color: $light-primary !important;
            color: $light-text-color !important;
        }
        .input-group {
            color: $light-primary !important;
            .input-group__input {
                input {
                    color: $dark-text-color !important;
                    caret-color: $light-primary !important;
                }
            }
            .input-group__details {
                .input-group__hint {
                    color: $dark-text-color !important;
                }
            }
            .input-group__details::before {
                background-color: $light-primary;
            }
        }
        .input-group--focused {
            color: $light-primary !important;
            .input-group__details::before {
                background-color: $light-primary;
            }
            .input-group__details::after {
                background-color: $light-primary;
            }
        }
        .input-group:hover {
            .input-group__details::before {
                background-color: $light-tertiary !important;
            }
        }
    }
}

.dark {
    .login {
        h2 {
            color: $light-text-color !important;
        }
        .login-header {
            background-color: $dark-primary;
        }
        .login-form {
            background: $light-text-color;
            color: #333;
            label {
                color: $dark-text-color;
            }
            button {
                background-color: $dark-primary !important;
                color: $light-text-color !important;
            }
            .input-group {
                color: $dark-primary !important;
                .input-group__input {
                    input {
                        color: $dark-text-color !important;
                        caret-color: $dark-primary !important;
                    }
                }
                .input-group__details {
                    .input-group__hint {
                        color: $dark-text-color !important;
                    }
                }
                .input-group__details::before {
                    background-color: $dark-primary;
                }
            }
            .input-group--focused {
                color: $dark-primary !important;
                .input-group__details::before {
                    background-color: $dark-primary;
                }
                .input-group__details::after {
                    background-color: $dark-primary;
                }
            }
            .input-group:hover {
                .input-group__details::before {
                    background-color: $dark-tertiary !important;
                }
            }
        }
    }
}