.login {    
    margin: auto;

    h2 {
        color: #fff !important;
    }

    .alert {
        margin: 0;
    }
    
    .login-form {
        background: #fff;
        color: #333;
        width: 400px;
        padding: 20px;
    }
}


.theme--dark .login .input-group:not(.input-group--error) label {
    color: rgba(0,0,0,0.54);
}

.theme--dark .login  .input-group:not(.input-group--error) .input-group__details:before {
    background-color: rgba(0,0,0,0.42);
}

.theme--dark .login .input-group:not(.input-group--error):not(.input-group--focused):not(.input-group--disabled):not(.input-group--disabled):not(.input-group--overflow):not(.input-group--segmented):not(.input-group--editable):hover .input-group__details:before {
    background-color: rgba(0,0,0,0.80);
}

.theme--dark .login .input-group input, 
.theme--dark .login .input-group textarea {
    color: rgba(0,0,0,0.80);
}

.theme--dark .login .btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
    background-color: rgba(0,0,0, 0.12) !important;
}

.theme--dark .login .btn.btn--disabled {
    color: rgba(0,0,0,0.26) !important;
}