<div class="login">
    <v-toolbar style="flex: 0 0 auto;" color="primary">
        <v-icon dark>mdi-login</v-icon>
        <h2>Login</h2>
    </v-toolbar>
    <v-alert v-show="!!error" color="error" icon="warning" value="true">
        {{error}}
    </v-alert>
    <v-card class="login-form" light>
        <v-form v-model="valid" ref="form" light lazy-validation>

            <v-text-field
                label="Username"
                v-model="username"
                :rules="usernameRules"
                @keyup.enter="submit"
                autofocus
                required
            ></v-text-field>
            <v-text-field
                type="password"
                label="Password"
                v-model="password"
                :rules="passwordRules"
                @keyup.enter="submit"
                required
            ></v-text-field>
            
            <v-btn color="primary"
            @click="submit"
            :disabled="!valid"
            >
                Login
            </v-btn>
        </v-form>
    </v-card>
</div>