@import '../../variables';

.login {    
    margin: auto;

    h2 {
        color: $light-text-color !important;
    }

    .alert {
        margin: 0;
        max-width: 400px;
    }

    .login-header {
        background-color: $light-primary;
    }
    
    .login-form {
        background: $light-text-color;
        color: #333;
        width: 400px;
        padding: 20px;
        label {
            color: $dark-text-color;
        }
        button {
            background-color: $light-primary !important;
            color: $light-text-color !important;
        }
        .input-group__details {
            min-height: 20px !important;
        }

    }
}

.dark {
    .login {
        h2 {
            color: $light-text-color !important;
        }
        .login-header {
            background-color: $dark-primary;
        }
        .login-form {
            background: $light-text-color;
            color: #333;
            label {
                color: $dark-text-color;
            }
            button {
                background-color: $dark-primary !important;
                color: $light-text-color !important;
            }
        }
    }
}